<div>
    <div class="templatepage">
        <div class="templatepage__header-container">
            <div class="templatepage__header">
                <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                <div class="detailspage__operations">
                    <div>
                        <button (click)="Cancel($event)" class="btn detailspage__operations-icon detailspage__buttons-icon" title="Cancel save">
                                                        <i class="fa fa-times-circle"></i>Annuller</button>
                        <button type="submit" (click)="saveSkabelon($event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                                                        <i class="fa fa-save"></i>Gem
                                                </button>
                    </div>
                </div>
            </div>
            <div class="templatepage__form-container">
                <div class="templatepage__nav-container">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab" class="nav-link active" aria-controls="pills-i" aria-selected="true">Rediger
                                                                Skabelon</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content templatepage__container" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">
                        <div class="form-group">
                            <form *ngIf="sorteduserrelations && sorteduserrelations.length>0">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Organisation</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctorg" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctorg">
                                                                                        <ng-template ngFor let-item
                                                                                                [ngForOf]="sorteduserrelations"
                                                                                                let-i="index" let
                                                                                                first=first;
                                                                                                [ngForTrackBy]="trackByFn">
                                                                                                <option [ngValue]="item.organisation_uuid"
                                                                                                        *ngIf="item.org && item.organisation_uuid">
                                                                                                        {{item.org}}
                                                                                                </option>
                                                                                        </ng-template>
                                                                                </select>
                                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="slcOrgname" (click)="Copyorg('orgcopyflag')" [ngClass]="orgcopyflag === true?' templatepage__copyicon templatepage__copyicon--active':'templatepage__copyicon templatepage__copyicon--inactive'"><i
                                                                                                class="far fa-copy"></i></span>
                                    </div>

                                </div>
                                <div class="form-group row" *ngIf="skemaList && skemaList.length>0">
                                    <label class="col-sm-4 col-form-label">Brugervendtnøgle</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="skebelon" data-live-search="true" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onchangeSkabelon($event,item)">
                                                                                        <ng-template ngFor let-item
                                                                                                [ngForOf]="skemaList"
                                                                                                let-i="index" let
                                                                                                first=first;
                                                                                                [ngForTrackBy]="trackByFn">
                                                                                                <option [ngValue]="item.uuid"
                                                                                                        *ngIf="item.navn && item.uuid">
                                                                                                        {{item.brugervendtnoegle}}
                                                                                                </option>
                                                                                        </ng-template>
                                                                                </select>
                                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="slctbrugervendt" (click)="Copyorg('brugervendcopyflag')" [ngClass]="brugervendcopyflag === true?' templatepage__copyicon templatepage__copyicon--active':'templatepage__copyicon templatepage__copyicon--inactive'"><i
                                                                                                class="far fa-copy"></i></span>
                                    </div>

                                </div>
                                <div class="form-group row" *ngIf="skemaList && skemaList.length>0">
                                    <label class="col-sm-4 col-form-label">Sprog</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctlang" data-live-search="true" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChangelang($event)">
                                                                                        <option value="da">
                                                                                                Dansk
                                                                                        </option>
                                                                                        <option value="en">
                                                                                                Engelsk
                                                                                        </option>
                                                                                </select>
                                    </div>

                                </div>
                                <div *ngIf="skabeloncontent">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Title</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" value="{{skabeloncontent.title}}" id="title" />
                                            <div *ngIf="((!title || title.length===0) && issubmitted===true)">
                                                <p class="text-danger">
                                                    Udfyld venligst dette felt.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Teaser</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="teaser" [ngModelOptions]="{standalone: true}" value="{{skabeloncontent.teaser}}" id="teaser" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Beskrivelse</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="beskrivelse" [ngModelOptions]="{standalone: true}" value="{{skabeloncontent.beskrivelse}}" id="beskrivelse" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Ikon</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="ikon" [ngModelOptions]="{standalone: true}" value="{{skabeloncontent.ikon}}" id="ikon" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Flettefelter</label>
                                        <div class="col-sm-8">
                                            <input [(ngModel)]="flettefelter" readonly="true" [ngModelOptions]="{standalone: true}" class="form-control" value="{{skabeloncontent.flettefelter}}" id="exampleFormControlSelect1" />
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="jsoneditor === false">
                                        <label class="col-sm-4 col-form-label">Tekst</label>
                                        <div class="col-sm-8">
                                            <textarea [(ngModel)]="body" #copytargettext [ngModelOptions]="{standalone: true}" class="form-control" value="{{skabeloncontent.body}}" id="exampleFormControlTextarea1" rows="15"></textarea>
                                            <span ngxClipboard (cbOnSuccess)="copied($event)" [ngxClipboard]="copytargettext" [cbContent]="slctbrugervendt" (click)="Copyorg('textcopyflag')" [ngClass]="textcopyflag === true?' templatepage__copyicon templatepage__copyicon--active':'templatepage__copyicon templatepage__copyicon--inactive'"><i
                                                                                                        class="far fa-copy"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="jsoneditor === true">
                                        <label class="col-sm-4 col-form-label">Configuration</label>
                                        <div class="col-sm-8">
                                            <json-editor [options]="editorOptions" (change)="getData($event)" [data]="body">
                                            </json-editor>
                                        </div>
                                    </div>

                                </div>

                            </form>


                        </div>

                    </div>
                </div>


                <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
                    <div>
                        Success!! Thank you..
                    </div>
                </jqxNotification>
                <jqxNotification #errorNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
                    <div>Error!! pelase try again</div>
                </jqxNotification>

            </div>

        </div>
    </div>
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
</div>