<div class="analytics">
    <div [ngClass]="(isLoading==true) ? 'spinner':'spinner d-none'">
    </div>
    <h1 class="analytics__heading">Carex Analytics</h1>
    <div class="analytics__container">
        <div class="analytics__filtercontainer">
            <form [formGroup]="analyticsForm" (ngSubmit)="getanalyticsData()">
                <div class="form-row">
                    <div class="form-group col-md-2"></div>
                    <div class="form-group col-md-3">
                        <label for="application"><i class="fas fa-mobile-alt"></i>Select Application*
                                                </label>
                        <select *ngIf="filteredapplications" multiple [(ngModel)]="slctapplication" data-live-search="true" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="Multiselect($event,item)" id="exampleFormControlSelect1">
                                                        <option *ngFor="let item of filteredapplications; index as op;trackBy: trackByFn"
                                                                [selected]="item.selected===true ? 'selected':null"
                                                                data-tokens="item" [ngValue]="item">
                                                                {{item.appname}}
                                                        </option>
                                                </select>
                        <span *ngIf="!slctapplication || slctapplication.length==0" class="analytics__errormsg">Please select an application</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="startdate"><i class="fas fa-calendar-alt"></i>Period</label>
                        <input [selectMode]="'range'" [(ngModel)]="selecteddates" [readonly]="true" [ngModelOptions]="{standalone: true}" [owlDateTime]="i" type="text" class="form-control" value="selecteddates" [owlDateTimeTrigger]="i" placeholder="ubegrænset" />
                        <span class="analytics__dateicon" [owlDateTimeTrigger]="i"><i class="fal fa-calendar-alt"></i></span>
                        <span class="analytics__closeicon" (click)="clearstartDate(item)"><i class="fal fa-times"></i></span>
                        <owl-date-time (afterPickerClosed)="StartDate(item,i)" [disabled]="false" #i></owl-date-time>
                    </div>
                    <div class="form-group col-md-2" *ngIf="filteredata && filteredata.length>0">
                        <div *ngIf="isdownloading===true" class="spinner"></div>
                        <div class="analytics__info">
                            <button (click)="download($event)" class="btn"><i class="fas fa-cloud-download"></i>Download Frontend analytics report</button>
                        </div>
                    </div>
                    <div class="form-group col-md-2"></div>

                </div>
                <div class="form-group row">
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <button [disabled]="!slctapplication || slctapplication.length==0" type="submit" (click)="fetchdata()" class="btn login__login btn-lg">Search</button>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
                <!-- <div class="form-group col-md-2">
                        <div class="analytics__info">
                            <div *ngIf="isLoading===true" class="spinner"></div>
                            <p class="analytics__chartnamee"><i class="fas fa-users"></i> Total users visits </p>
                            <h2 *ngIf="filteredata && filteredata.length">
                                {{filteredata.length}}</h2>s
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="analytics__info">
                            <div *ngIf="isLoading===true" class="spinner"></div>
                            <p class="analytics__chartnamee"><i class="fas fa-users"></i> Total users</p>
                            <h2 *ngIf="totalusersData && totalusersData.length">
                                {{totalusersData.length}}</h2>
                        </div>
                    </div> -->
                <!-- <div class="form-group row" >
                </div> -->
            </form>
        </div>

    </div>
    <!-- <div class="analytics__overview">
        <div *ngIf="slctapplication && slctapplication.length!=0" class="">
            <div class="row">
                <div class="col-sm-4">
                    <div *ngIf="isLoading===true" class="spinner"></div>
                    <div class="analytics__dashboardchart">
                        <p class="analytics__chartname">Pages by views </p>
                        <google-chart *ngIf="eventData" [type]="piechart" [data]="eventData" [options]="pieoptions">
                        </google-chart>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="isLoading===true" class="spinner"></div>
                    <div class="analytics__dashboardchart">
                        <p class="analytics__chartname">Devices</p>
                        <google-chart *ngIf="platformsData" [type]="piechart" [data]="platformsData" [options]="platformspieoptions">
                        </google-chart>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf="isLoading===true" class="spinner"></div>
                    <div class="analytics__dashboardchart">
                        <p class="analytics__chartname">Versions</p>
                        <google-chart *ngIf="versionsData" [type]="columnchart" [data]="versionsData" [options]="versionscolumnoptions">
                        </google-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div *ngIf="isLoading===true" class="spinner"></div>
                    <div class="analytics__dashboardchart">
                        <p class="analytics__chartname">Most active users</p>
                        <google-chart *ngIf="activeusersData" [type]="columnchart" [data]="activeusersData" [options]="activeuserscolumnoptions">
                        </google-chart>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>