@import "./variables";
.analytics {
    line-height: 1.5em;
    margin-top: 10em;
    overflow: scroll;
    height: 100%;
    &__chartcontainer {
        width: 100%;
    }
    &__chartitem {
        display: inline-block;
        float: left;
        width: 100%;
    }
    &__dashboardchart {
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 100px;
        min-height: 400px;
    }
    &__optional {
        color: $color-tryg-gray;
    }
    &__dateicon {
        margin-top: -30px;
        float: right;
        margin-right: 35px;
        cursor: pointer;
        color: initial;
    }
    &__closeicon {
        margin-top: -37px;
        float: right;
        margin-right: 1px;
        border-left: 1px solid #8e8e8e;
        padding-left: 5px;
        height: 36px;
        padding: 8px;
        font-weight: lighter;
        cursor: pointer;
        color: initial;
        width: 25px;
        z-index: 99;
        position: relative;
        display: block;
    }
    &__errormsg {
        color: $color-error-red;
    }
    &__chartname {
        text-transform: capitalize;
        padding: 12px;
        background-color: $primary-color-theme;
        color: $color-white;
        text-align: center;
    }
    &__overview {
        display: inline-block;
        width: 100%;
    }
    &__heading {
        text-align: center;
    }
    &__info {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        text-align: center;
        padding: 2px;
        min-height: 90px;
        .fas {
            padding-right: 10px;
        }
    }
    label .fas {
        padding-right: 10px;
    }
}