<div>
    <div class="configuration">
        <div class="configuration__header-container">
            <div class="configuration__header">
                <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                <div class="detailspage__operations">
                    <div>
                        <button (click)="Cancel($event)" class="btn detailspage__operations-icon detailspage__buttons-icon" title="Cancel save">
                                <i class="fa fa-times-circle"></i>Annuller</button>
                        <button type="submit" (click)="saveConfiguraiton($event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                                <i class="fa fa-save"></i>Gem
                            </button>
                    </div>
                </div>
            </div>
            <div class="configuration__form-container">
                <div class="configuration__nav-container">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab" class="nav-link active" aria-controls="pills-i" aria-selected="true">Rediger App Brand
                                </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content configuration__container" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">
                        <div class="form-group">
                            <form *ngIf="alldokumentList && alldokumentList.length>0">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">
                                            Dokument</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctdok" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctdok">
                                                <ng-template ngFor let-item [ngForOf]="alldokumentList" let-i="index" let
                                                    first=first; [ngForTrackBy]="trackByFn">
                                                    <option [ngValue]="item.uuid">
                                                        {{item.brugervendtnoegle}}
                                                    </option>
                                                </ng-template>
                                            </select>
                                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="slcOrgname" (click)="Copyorg('orgcopyflag')" [ngClass]="orgcopyflag === true?' configuration__copyicon configuration__copyicon--active':'configuration__copyicon configuration__copyicon--inactive'"><i
                                                    class="far fa-copy"></i></span>
                                    </div>


                                </div>

                                <div>
                                    <div class="form-group row" *ngIf="jsoneditor===true">
                                        <label id="inputGroupFile04" class="col-sm-4 col-form-label">Brand</label>
                                        <div *ngIf="showupload===false" class="col-sm-8">
                                            <a class="configuration__download" (click)="DownloadJson($event)" href="#"> <i class="fas fa-cloud-download"></i> Download Brand</a>
                                            <a class="configuration__delete" (click)="Deleteconfig($event,item,relationoptionitem,in)" href="#"> <i class="fas fa-trash"></i> Delete Brand</a>
                                            <json-editor [options]="editorOptions" (change)="getData($event)" [data]="body">
                                            </json-editor>
                                        </div>
                                        <div class="col-sm-8" *ngIf="showupload===true">
                                            <input type="file" class="custom-file-input form-control" [(ngModel)]="fileuploaded" #fileupload [ngModelOptions]="{standalone: true}" (change)="uploadfile($event)" id="inputGroupFile04" />
                                            <i class="fas fa-cloud-upload">Upload a new Json configuation</i>
                                        </div>
                                    </div>

                                </div>

                            </form>


                        </div>

                    </div>
                </div>


                <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
                    <div>
                        Success!! Thank you..
                    </div>
                </jqxNotification>
                <jqxNotification #errorNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
                    <div>Error!! pelase try again</div>
                </jqxNotification>

            </div>

        </div>
    </div>
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
</div>