@import '../assets/sass/variables';
.row {
    height: 100%;
    &--left-container {
        border-right: 1px solid $shadow-color;
        padding-right: 0;
        background: $color-lightgray-background;
        height: 100%;
    }
    &--right-container {
        border-left: 1px solid $shadow-color;
        padding-left: 0;
        background: $color-lightgray-background;
        height: 100%;
    }
    .ace_editor.ace-jsoneditor {
        min-height: 1000px;
    }
    .col-8 {
        overflow: scroll;
    }
}

.col-8 {
    height: 100%;
    overflow: scroll;
}


/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.customcheck:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.customcheck input:checked~.checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.customcheck input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-control-label::before,
.custom-control-label::after {
    width: 2.25rem !important;
    height: 2.25rem !important;
    margin: 1rem;
}

.custom-control-label {
    padding: 1.5rem 2rem;
}