<header-page></header-page>
<!-- <div class="container"> -->
<div class="row">
    <div class="col-2 row--left-container">
        <!--Sidebar content-->
        <menu-left></menu-left>

    </div>
    <div class="col-8">
        <!-- <dashboard></dashboard>  -->
        <!-- <ganttchart></ganttchart>   -->
        <router-outlet></router-outlet>
    </div>
    <div class="col-2 row--right-container">
        <menu-right></menu-right>
        <!-- <widgets></widgets>  -->
    </div>
</div>
<!-- </div> -->
<footer-page></footer-page>