<div class="header-page">

    <span class="header-page__version">version  {{version}}</span>
    <nav class="navbar navbar-expand-md navbar-dark">

        <a (click)="home($event)" class="navbar-brand header__logo-link" href="#">
            <img class="header-page__logo" src="assets/img/logo-carex.png">
            <span class="header-page__envi">- {{envi}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div *ngIf="user && user.username" class="header-page__user-container">
            <div class="header-page__notification-container">
                <a href="#" class="header-page__dropdown-item header-page__notifications">
                    <i class="fa fa-bell"></i>
                    <span class="header-page__notify">1</span>
                </a>
            </div>
            <div *ngIf="user" class="dropdown  header-page__dropdown">
                <button class="btn btn-secondary dropdown-toggle header-page__user-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.username}}
        </button>
                <div class="dropdown-menu  header-page__dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item header-page__dropdown-item" type="button">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</button>
                    <button (click)="logout()" class="dropdown-item header-page__dropdown-item" type="button">
                <i class="fa fa-sign-out"></i>Logout</button>
                </div>
            </div>

        </div>
    </nav>
</div>