<div class="ganttchart">
  <div class="ganttchart__header-container">
    <div class="ganttchart__header">
      <div class="">
        <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
      </div>
    </div>
  </div>
  <div>
    <div id="chartdiv" class="ganttchart__chartdiv" #chartdiv [style.width.%]="100" [style.height.px]="500"></div>
  </div>
</div>