@import "./variables";

.ganttchart {
    margin-bottom: 8em;
    margin-top: 10em;

    &__breadcrum {
        float: left;
    }

    &__header {
        background: $color-highlight-green;
        border: 1px solid $color-highlight-green;
        border-radius: .4em;
        height: 3em;
        margin-top: .5em;
    }

    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: $minimum-priority;
        background: $color-white;
        height: 5em;
    }

    &__header-text {
        margin-left: 1em;
        color: $color-white;
        padding-top: .3em;
        float: left;
    }

    .amcharts-chart-div {
        a {
            display: none !important;
        }
    }
}
