<div>
    <div class="sendmessages">
        <div class="sendmessages__header-container">
            <div class="sendmessages__header">
                <!-- <operations-viewer [list]="true" [details]="false" (newlistdata)="RefreshData($event)" (filtereddata)=applyfilters($event); [filterList]="filterList" [sharedthis]="this">
                </operations-viewer> -->
            </div>
            <div class="sendmessages__form-container">
                <div class="sendmessages__nav-container">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab" class="nav-link active" aria-controls="pills-i" aria-selected="true">Besked til Medarbejdere
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content sendmessages__container" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">
                        <div class="form-group">
                            <form>

                                <div *ngIf="allreceivers && allreceivers.length>0" class="form-group row">
                                    <label class="col-sm-4 col-form-label">
                                        Modtagere</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctreceiver" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctdok">
                                            <ng-template ngFor let-item [ngForOf]="allreceivers" let-i="index" let
                                                first=first; [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.uuid">
                                                    {{item.titel}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Udsendelsestidspunkt</label>
                                    <div *ngIf="mindate" class="col-sm-8">
                                        <input [ngModel]="selecteddate" [min]="mindate" [ngModelOptions]="{standalone: true}" value={{selecteddate}} [readonly]="true" (ngModelChange)="DateChanged($event)" [owlDateTime]="k" type="text" class="form-control" [owlDateTimeTrigger]="k" placeholder="Vælg dato/tidspunkt"
                                        />
                                        <span class="notifyviewer__dateicon" [owlDateTimeTrigger]="k"><i
                                            class="fal fa-calendar-alt"></i></span>
                                        <span class="notifyviewer__closeicon" (click)="clearDate(item)"><i
                                            class="fal fa-times"></i></span>
                                        <owl-date-time [startAt]="mindate" (dateSelected)="selectedDate(k)" [pickerType]="'both'" [disabled]="false" #k>
                                        </owl-date-time>
                                        <!-- [showSecondsTimer]='true' -->

                                        <div *ngIf="!selecteddate">
                                            <p class="text-danger">
                                                Udfyld venligst dette felt.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Skabelon</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctskabelon" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctdok">
                                            <ng-template ngFor let-item [ngForOf]="allreceivers" let-i="index" let
                                                first=first; [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.uuid">
                                                    {{item.titel}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Overskrift</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" required [(ngModel)]="overskrift" [ngModelOptions]="{standalone: true}" value={{overskrift}}>
                                        <div *ngIf="!overskrift">
                                            <p class="text-danger">
                                                Udfyld venligst dette felt.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Indsæt flettefelt</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctskabelon" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctdok">
                                            <ng-template ngFor let-item [ngForOf]="allreceivers" let-i="index" let
                                                first=first; [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.uuid">
                                                    {{item.titel}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Besked</label>
                                    <div class="col-sm-8">
                                        <!-- <div id="editor">How are you!</div> -->
                                        <!-- <span (click)="openfilter()" class="sendmessages__user"><i class="fal fa-user-alt"></i></span> -->
                                        <!-- <ckeditor #editor id="editor" type="classic" [config]="config" [ngModelOptions]="{standalone: true}" [(ngModel)]="editorData" (change)="onchngEditordata($event)"></ckeditor>
 -->
                                        <button type="button" (click)="insertdata()" class="btn btn-primary">Insert</button>
                                        <ckeditor #editor id="editor" type="classic" [config]="config" [ngModelOptions]="{standalone: true}" [(ngModel)]="accordianitem" (change)="onchngEditordata($event)"></ckeditor>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Status</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" required [(ngModel)]="status" [ngModelOptions]="{standalone: true}" value={{status}}>
                                        <div *ngIf="!status">
                                            <p class="text-danger">
                                                Udfyld venligst dette felt.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Skabelon navn</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" required [(ngModel)]="skabelonname" [ngModelOptions]="{standalone: true}" value={{skabelonname}}>
                                        <div *ngIf="!selectedtime">
                                            <p class="text-danger">
                                                Udfyld venligst dette felt.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">
                                        Tilgængelig for</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctdok" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctdok">
                                            <ng-template ngFor let-item [ngForOf]="allreceivers" let-i="index" let
                                                first=first; [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.uuid">
                                                    {{item.titel}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>



                <!-- <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
                    <div>
                        Success!! Thank you..
                    </div>
                </jqxNotification>
                <jqxNotification #errorNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
                    <div>Error!! pelase try again</div>
                </jqxNotification> -->

            </div>

        </div>
    </div>
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
</div>