@import "./variables";
.login {
    margin-top: 110px;
    width: 100%;
    height: 100%;
    &__login {
        background: $primary-color-theme !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__textbox {
        padding: 15px !important;
        border-radius: .4em;
        height: 53px;
        padding: 15px !important;
        font-weight: normal;
    }
    &__error {
        color: $color-error-red;
        font-size: 1em;
        text-align: center;
        margin: .2em;
    }
    &__forgetpwd {
        background: $primary-color-theme !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        opacity: .5;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__heading {
        text-align: center;
    }
    &__eye {
        position: absolute;
        margin-top: -47px;
        float: right;
        margin-left: 93%;
        font-size: 19px;
        height: 43px;
        width: 33px;
        text-align: center;
        vertical-align: middle;
        padding-top: 11px;
        cursor: pointer;
    }
}