<div class="login">
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
    <div [ngClass]="(fetching==true) ? 'spinner':'spinner d-none'">
    </div>

    <h4 text-center class="login__heading">Indtast brugernavn og kodeord</h4>
    <form>
        <div class="form-group">

            <label>Bruger Navn</label>
            <input type="email" [(ngModel)]="username" (keyup)="reset()" autocomplete="on"
                [ngModelOptions]="{standalone: true}" class="form-control login__textbox" placeholder="Bruger Navn">

        </div>
        <div class="form-group">
            <label>Adgangskode</label>
            <input [(ngModel)]="passwordkey" autocomplete="on" (keyup)="reset()" [ngModelOptions]="{standalone: true}"
                #password type="password" class="form-control login__textbox" placeholder="Adgangskode">
            <span (click)="showpassword()"
                [ngClass]="(showpwd===true)?'login__eye fa fa-fw fa-eye field-icon': 'login__eye fa fa-fw fa-eye-slash field-icon'"></span>
        </div>

        <div *ngIf="error">
            <div class="login__error">Forkert brugernavn eller adgangskode</div>
        </div>
        <div *ngIf="errormessage">
            <div class="login__error">{{errormessage}}</div>
        </div>
        <button type="submit" (click)="login()" class="btn login__login btn-lg">Login</button>
        <button type="submit" (click)="resetpassword()" class="btn login__forgetpwd btn-lg">Ny Bruger / glemt
            adgangskode</button>
    </form>
</div>