<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="filter" *ngIf="filtereditorOptions">

    <div class="modal-header filter__filterctr">
        <button type="button" class="btn filter__filterclose" (click)="cancel($event)">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>


    <div class="form-group">
        <form>
            <div class="form-group row">
                <div class="col-sm-2 filter__radio">
                    <input (change)="createnew($event)" class="form-check-input filter__radiosize col-sm-12" id="opret" name="opret" value="createnewmodel" type="radio" /></div>
                <div class="col-sm-4"><label class="col-form-label">Opret Ny</label></div>
            </div>
            <div [ngClass]="(createnewmodel===true)? 'form-group row': 'form-group row filter__disable'" class="form-group row">
                <label class="col-sm-4 col-form-label">Filter Navn </label>
                <div class="col-sm-8">
                    <input class="form-control" [(ngModel)]="filternavnmodel" [disabled]="filternavnenable" [value]="filternavnmodel" [ngModelOptions]="{standalone: true}" type="text" name="oprettext" #filternavn id="filternavn">
                    <div *ngIf="!filternavnmodel && createnewmodel===true">
                        <p class="text-danger">
                            Please fill this field.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 filter__radio">
                    <input (change)="overwrite($event)" class="form-check-input filter__radiosize col-sm-12" id="opret" name="opret" value="overwritemodel" type="radio" /></div>
                <div class="col-sm-4"><label class="col-form-label">Overskriv eksist</label></div>
            </div>
            <div [ngClass]="(overwritemodel===true)? 'form-group row': 'form-group row filter__disable'">
                <label class="col-sm-4 col-form-label">Vælg Filter</label>
                <div class="col-sm-8">
                    <select [(ngModel)]="filteruuid" data-live-search="true" title="Intet valgt" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="getFilterData($event,item)" #choosefilter id="choosefilter">
                        <ng-template ngFor let-item [ngForOf]="allfilterList" let-i="index" let first=first;
                            [ngForTrackBy]="trackByFn">
                            <option [ngValue]="item.uuid">
                                {{item.titel}}
                            </option>
                        </ng-template>
                    </select>
                    <div *ngIf="overwritemodel === true && !filteruuid">
                        <p class="text-danger">
                            Please fill this field.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tilgængelig for</label>
                <div class="col-sm-8">
                    <select multiple [(ngModel)]="allredaktoerslctd" data-live-search="true" title="Intet valgt" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" id="availablefor">
                        <ng-template ngFor let-item [ngForOf]="allredaktoerList" let-i="index" let first=first;
                            [ngForTrackBy]="trackByFn">
                            <option [ngValue]="item.key">
                                {{item.value}}
                            </option>
                        </ng-template>
                    </select>
                    <div *ngIf="!allredaktoerslctd">
                        <p class="text-danger">
                            Please fill this field.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    Filter data preview
    <json-editor [options]="filtereditorOptions" [data]="filterdata">
    </json-editor>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark filter__cancel" (click)="cancel($event)">
                <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button type="submit" class="btn btn-outline-dark filter__save" (click)="saveFilter($event)">
                <i class="fa fa-save"></i>Gem</button>
    </div>
</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>