@import "./variables";
.filter {
    margin: 20px;
    &__radio {
        text-align: center;
        vertical-align: middle;
        padding-top: 9px;
    }
    &__radiosize {
        width: 20px;
        height: 20px;
    }
    &__disable {
        opacity: .4;
    }
    &__filterctr {
        width: 100%;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
    }
    &__filterclose {
        float: right;
        color: $primary-color-theme;
        background-color: $color-white;
        font-size: 30px;
    }
    &__save {
        background-color: $primary-color-theme;
        color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__cancel {
        color: $primary-color-theme;
        background-color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    .modal-footer {
        margin-top: 50px;
    }
}