@import "./variables";
.itsystems {
    margin-bottom: 100px;
    margin-top: 10em;
    width: 100%;
    height: 100%;
    &__operations {
        float: right;
        display: inline-block;
        border-radius: .4em;
        height: 3em;
        margin-right: 1em;
        margin-top: 4px; //-56px;
        width: 100%;
    }
    &__operations-icon {
        margin-right: 10px;
        float: right;
        color: $color-white;
        margin-top: 5px;
        font-weight: $font-weight-normal;
        &>i {
            padding-left: 5px;
            padding-right: 5px;
        }
        &:hover {
            color: $primary-color-theme;
        }
    }
    &__operations-icon-upload {
        float: right;
        color: $color-white;
        font-weight: $font-weight-normal;
    }
    &__breadcrum {
        float: left;
    }
    &__header {
        background: $color-highlight-green;
        border: 1px solid $primary-color-theme;
        border-radius: .4em;
        height: 3em;
        margin-top: .5em;
    }
    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: 991;
        background: $color-white;
        height: 5em;
    }
    &__header-text {
        margin-left: 1em;
        color: $color-white;
        padding-top: .3em;
        float: left;
    }
    &__uploadcontainer {
        border: 1px solid $color-highlight-green;
        height: 7em;
        z-index: 9999;
        background: $primary-color-theme;
        position: absolute;
        opacity: .9;
        text-align: center;
        color: $color-white;
    }
    &__buttons-icon {
        background: none;
        border: none;
        color: $color-white;
        margin-top: 1.5em;
    }
    &__upload {
        //  font-size: 1.1em;
        //  font-weight: bold;
        //  position: absolute;
        //  margin-left: -3em;
    }
    &__fileinput {
        width: 4em;
        padding: 2.5em 0 0;
        height: 0;
        overflow: hidden;
        border-radius: 100%;
        position: absolute;
        margin-left: -3em;
        margin-top: -10px;
    }
    &__dropContainer {
        display: inline-block;
        float: right;
        margin-right: 3em;
        &--droptext {}
        .fa {
            font-size: 2em;
        }
    }
    &__modal-container {
        margin: 1em;
    }
    &--modal-body {
        padding: 0 !important;
    }
    &__gridContainer {
        height: 100%;
        width: 100%;
    }
    &__filterclose {
        width: 100%;
        float: right;
        display: inline-block;
        text-align: right;
        height: 50px;
        padding-right: 22px;
        font-size: 30px;
        border: none !important;
    }
    &__filter {
        float: right;
    }
    &__filterlabel {
        float: right;
        text-align: right;
        padding-right: 0;
        color: #fff;
    }
    &__showfltrdata {
        margin-right: 39px;
        position: relative;
        display: block;
        border-left: 0;
        font-size: 20px;
        margin-top: -35px;
        float: right;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        cursor: pointer;
        color: $color-highlight-green;
    }
    &__dateicon {
        margin-top: -16px;
    }
    &__refresh {
        float: right;
        text-decoration: underline;
        cursor: pointer;
        >.fa {
            padding-right: 5px;
        }
    }
}

.export {
    float: right;
    padding: 2em;
}

.jqx-file-upload {
    float: left;
    width: 200px;
    height: 111px;
    margin-top: .5em;
    position: absolute;
    margin-left: -8.5em;
    z-index: 999;
}

.errormessage {
    font-weight: bold;
    font-size: 1em;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}