<div class="itsystems">
    <div class="">
        <div class="itsystems__header-container">
            <div class="itsystems__header">
                <div *ngIf="actions"> 
                    <!-- <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer> -->
                    <div class="itsystems__operations">
                        <operations-viewer [list]="true" [details]="false" (newlistdata)="RefreshData($event)" (filtereddata)=applyfilters($event); [actions]="actions" [filterList]="filterList" [sharedthis]="this"></operations-viewer>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'"></div>
            <div [ngClass]="(loading==true) ? 'd-none':' '">
            </div>
        </div>
        <div class="">
            <div [ngClass]="(fetchingfilter==true) ? 'spinner':'spinner d-none'"></div>
            <div [ngClass]="(fetchingfilter==true) ? 'd-none':' '">
            </div>
        </div>
    </div>
    <div class="itsystems__emptycontainer">
    </div>
    <search-viewer *ngIf="click_action==='getObjektfilter'" (filteredGriddata)="filteredGrid($event)"  #searchcomponent  [actions]="actions" [sharedthis]="this"></search-viewer>
    <div [ngClass]="(loading==true) ? 'invisible':' itsystems__gridContainer'">
        <jqxGrid *ngIf="columns" [height]="'80%'" [filterbarmode]="'simple'" [groups]="groupableValue" [localization]="localization" (onColumnreordered)="onColumnreordered($event)" [selectionmode]="'multiplecellsextended'" [width]="'100%'" [pagermode]="simple" [altrows]="true"
            [pagesize]="20" [theme]="'ui-redmond_new'" (onSort)="Sort($event)" (onFilter)="Filter($event)" [pageable]="true" [autoloadstate]="true" [showfilterrow]="(click_action==='getObjektfilter')?false:true" [filterable]="(click_action==='getObjektfilter')?false:true" [autosavestate]="true" [rendered]="rendered" #gridReference [enablehover]="true" [enabletooltips]="true"
            [autoshowloadelement]="true" [columnsreorder]="true" [columnsresize]="true" [autorowheight]="true" [enableellipsis]="true" (onRowclick)="Rowclick($event)" [source]="dataAdapter" [columns]="columns" [sortable]="true" [ready]="ready" 
            [autoshowfiltericon]="true">
        </jqxGrid>
    </div>
    <jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
        <div>
            Success!! Thank you..
        </div>
    </jqxNotification>
    <jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
        <div class="errormessage">{{serviceErrorMessage}} </div>
    </jqxNotification>