@import "./variables";
.jsonviewer {
    padding: 10px;
    &__filterctr {
        width: 100%;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
    }
    &__filterclose {
        float: right;
        color: $primary-color-theme;
        background-color: $color-white;
        font-size: 30px;
    }
}