<div *ngIf="isLoading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
</div>

<div class="jsonviewer" *ngIf="filtereditorOptions">
    <div class="modal-header jsonviewer__filterctr">
        <button type="button" class="btn jsonviewer__filterclose" (click)="cancel($event)">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>

    Filter data preview
    <json-editor [options]="filtereditorOptions" [data]="body">
    </json-editor>

</div>