$font-stack: Helvetica,
sans-serif;
// theme
//Carex Theme
$primary-color-theme: #0d3348; // #007bff;// #21318C;
// Tryg Theme
// $primary-color-theme: #DC0000;
$color-white: #FFF;
$color-highlight-green: #76B832;
$primary-color-theme-unhighlight: rgba(13, 51, 72, 0.7);
$color-dark-black: #000;
$color-light-blue: #87CEFA;
$color-tryg-gray: #696969;
$color-secondary-gray:#D3D3D3;
$color-lightgray: #e9ecef;
$color-warning:#ffcc00;
$color-error-red: #FF0033;
$full-height: 100%;
$font-weight-normal: 300;
$full-width: 100%;
$background-gray: #e9ecef;
$shadow-color: rgba(0, 0, 0, .1);
$background-dark-gray:#353434;
$minimum-priority: 50;
$chat-green-color:#5BC236;
$fa-font-path: "../fonts" !default; // this is for font awesome
$color-lightgray-background: #f8f9fa;