@import './variables';
 
 /* Sticky footer styles
 -------------------------------------------------- */

 html {
     position: relative;
     min-height: 100%;
     overflow-x: hidden;
 }

 body {
     /* Margin bottom by footer height */
     margin-bottom: 60px;
     font-family: $font-stack;
     //padding-top: 41px;
 }

 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 60px;
     line-height: 60px;
     /* Vertically center the text there */
 }

 .footer>.container {
     padding-right: 15px;
     padding-left: 15px;
 }
 /* Custom common styles
 -------------------------------------------------- */

 .spinnerContainer {
     height: 200px;
     width: 100%;
     margin-top: 50%;
     margin-left: 50%;
 }

 .fa-spin {
     font-size: 100px;
     text-align: center;
     vertical-align: middle;
 }

 .uploadcontainer {
     float: right;
     margin-right: 9em;
   
     
     .alert-danger{
        font-size: .8em;
        padding: 0em;
        z-index: 999999;
     }
 }

 .spinner {
     position: absolute;
     left: 50%;
     top: 50%;
     height: 60px;
     width: 60px;
     margin: 0px auto;
     -webkit-animation: rotation .6s infinite linear;
     -moz-animation: rotation .6s infinite linear;
     -o-animation: rotation .6s infinite linear;
     animation: rotation .6s infinite linear;
     border-left: 6px solid rgba(0, 174, 239, .15);
     border-right: 6px solid rgba(0, 174, 239, .15);
     border-bottom: 6px solid rgba(0, 174, 239, .15);
     border-top: 6px solid rgba(0, 174, 239, .8);
     border-radius: 100%;
 }
 //spinner div
//   div{
//     background:  $primary-color-theme;
//     height: 100%;
//     width: 100%;
//     display: block;
//     position: absolute;
//     z-index: 99999;
//     opacity: 0.8;
//  }


 .right_container{
    //border-left: 1px solid $shadow-color;
 }

 label{
    overflow: hidden;
    text-overflow: ellipsis;
 }

 @-webkit-keyframes rotation {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(359deg);
     }
 }

 @-moz-keyframes rotation {
     from {
         -moz-transform: rotate(0deg);
     }
     to {
         -moz-transform: rotate(359deg);
     }
 }

 @-o-keyframes rotation {
     from {
         -o-transform: rotate(0deg);
     }
     to {
         -o-transform: rotate(359deg);
     }
 }

 @keyframes rotation {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(359deg);
     }
 }
 .nav-link.active {
    background: $primary-color-theme !important;
    color: $color-white !important;
 }
 .nav-link {
    display: block;
    padding: 0.5rem 1rem ;
    border: 1px solid $primary-color-theme !important;
    margin-right: .4em;
    margin-left: .4em;
    color: $primary-color-theme !important;
    background: $color-white !important;
 }
.cursor-pointer{
    cursor: pointer;
}