@import "./variables";
.skemacreate {
    margin: 20px;
    &__save {
        background-color: $primary-color-theme;
        color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__cancel {
        color: $primary-color-theme;
        background-color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__heading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
    .fa-cloud-upload:before {
        padding-right: 10px;
    }
    .fas.fa-cloud-upload {
        padding-left: 5px;
        margin-top: -32px;
        position: absolute;
        font-weight: normal;
    }
    &__closeicon {
        margin-top: -37px;
        float: right;
        margin-right: 10px;
        border-left: 1px solid #8e8e8e;
        padding-left: 5px;
        height: 36px;
        padding-top: 8px;
        font-weight: lighter;
        cursor: pointer;
        color: initial;
    }
    &__heading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
}