<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="skemacreate">
    <div class="modal-header notifyviewer__filterctr">

        <button type="button" class="btn notifyviewer__filterclose" (click)="cancel($event)">
                        <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="form-group">

        <form>
            <div class="form-group row">

                <h6 class="skemacreate__heading">Opret Skema</h6>
                <div *ngIf="showupload===false" class="col-sm-12">
                    <a class="skemapage__delete" (click)="uploadNew($event)" href="#"> <i class="fas fa-trash"></i>Upload a new</a>
                    <json-editor [options]="editorOptions" (change)="getDataa($event)" [data]="bodydata">
                    </json-editor>
                </div>
                <div class="col-sm-12" *ngIf="showupload===true">
                    <input type="file" class="custom-file-input form-control" [(ngModel)]="fileuploaded" #fileupload [ngModelOptions]="{standalone: true}" (change)="uploadfilee($event)" id="jsonskemaa" />
                    <i class="fas fa-cloud-upload">Upload a new json skema</i>
                </div>
            </div>
        </form>
    </div>



    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark skemacreate__cancel" (click)="cancel($event)">
                        <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button [disabled]="!changedjsondata" type="submit" class="btn btn-outline-dark skemacreate__save" (click)="skemacreate($event)">
                        <i class="fa fa-save"></i>Gem</button>
    </div>
</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>Success!! Thank you..</div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>