@import "../../assets/sass/variables";
.delete {
    width: 100%;
    height: 100%;

    &__slet{
        background: $color-error-red !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
}
.delete_popup{
    margin: 1.75rem auto;
    margin-top: -25.25rem;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;
}