<div class="delete">

  <div class="modal-header detailspage__filterctr">
    <button type="button" class="btn detailspage__filterclose" (click)="cancel($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h1 mat-dialog-title>Slet {{data.displayheadingName}} med uuid {{data.uuid}}</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete this entry of?</p>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button [mat-dialog-close]="data" class="btn delete__slet btn-lg"><i
        class="fa fa-trash"></i> Slet</button>
  </div>
</div>