@import "./variables";
.customform {

    &__operations {
        float: right;
        display: inline-block;
        border-radius: 0.4em;
        height: 3em;
        margin-right: 1em;
        margin-top: 4px;
        width: 100%;
    }
    &__operations-icon {
        margin-right: 2em;
        float: right;
        color: $color-white;
        margin-top: .5em;
        padding: 0;
        font-size: 0.9em;
        font-weight: normal;
    }
    &__operations-icon>i {
        margin-right: .4em;
    }
    &__nav-container {
        margin-top: -2.6em;
    }
    &__user {
        margin-top: 40px;
        float: right;
        position: absolute;
        margin-left: 520px;
    }
    &__header {
        background: #76B832;
        border: 1px solid #0d3348;
        border-radius: 0.4em;
        height: 3em;
        margin-top: 0.5em;
    }
    &__accordianscontainer {
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: $minimum-priority;
        background: $color-white;
        //height: 5em;
        height: auto;
        overflow-y: scroll;
    }
    &__header-text {
        margin-left: 1em;
        color: $color-white;
    }
    &__buttons-icon-container {
        color: $primary-color-theme;
    }
    &__buttons-icon {
        color: $color-white;
        background: none;
    }
    &__buttons-icon>i {
        margin-right: .4em;
    }
    &__form-container {
        margin-top: 3em;
        border: 1px solid $primary-color-theme;
        margin-bottom: 3em;
        width: 100%;
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &__breadcrum {
        float: left;
    }
    &__button-container {
        margin-top: 2em;
        float: right;
        display: inline-block;
        width: 100%;
    }
    &--nav-link {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color-theme;
        margin-right: 0;
        margin-left: .4em;
        color: $primary-color-theme;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        &:first-child {
            margin-left: 0;
        }
    }
    .nav-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__container {
        margin: 1em;
    }
    &__delete {
        width: 100%;
        text-align: right;
        font-size: 2em;
    }
    &__dateicon {
        margin-top: -30px;
        float: right;
        margin-right: 35px;
        cursor: pointer;
        color: initial;
    }
    &__closeicon {
        margin-top: -37px;
        float: right;
        margin-right: 10px;
        border-left: 1px solid #8e8e8e;
        padding-left: 5px;
        height: 36px;
        padding-top: 8px;
        font-weight: lighter;
        cursor: pointer;
        color: initial;
    }
    &__heading-container {
        background: $background-dark-gray;
        height: 3em;
        margin-bottom: 1em;
    }
    &__multiselect {
        width: 100%;
        &--close {
            max-height: 150px;
            overflow: hidden;
        }
        &--open {
            max-height: 100%;
            overflow: visible;
        }
    }
    &__multiselectitemdate {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        min-height: 59px;
        height: auto;
    }
    &__selectItemlabel {
        text-align: left;
        // overflow: hidden;
        word-break: break-all;
        width: 80%;
        padding-left: 9px;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }
    &__checkmark {
        position: absolute;
        top: 8px;
        left: 0;
        height: 25px;
        width: 25px;
        left: 80%;
        background-color: #eee;
        border-radius: 6px;
         ::after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    &__customcheck:checked~.customform__checkmark:after {
        display: block;
    }
    &__customcheck:checked~.customform__checkmark {
        background-color: $primary-color-theme;
        top: 5px;
        width: 10px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-radius: 0;
    }
    &__mltsltd-date-lbl {
        width: 20%;
        float: left;
    }
    &__mltsltd-dateitem {
        width: 80%;
        float: right;
    }
    &__multiselectitem {
        min-height: 151px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        text-align: center;
        float: left;
        margin-bottom: 20px;
        &:nth-child(odd) {
            margin-right: 15%;
        }
        &:nth-child(even) {
            margin-left: 1%;
        }
    }
    &__sltd {
        border-radius: 4px;
        min-height: 42px;
        text-align: left;
        vertical-align: middle;
        padding-top: 8px;
        background: $primary-color-theme;
        color: $color-white;
    }
    &__unsltd {
        border-radius: 4px;
        min-height: 42px;
        text-align: left;
        vertical-align: middle;
        padding-top: 8px;
        background: inherit;
        color: inherit;
    }
    &__opentoogle {
        background: linear-gradient(0deg, #f8f9fa, transparent);
        width: 100%;
        height: 100px;
        margin-top: 50px;
        z-index: 999;
        position: relative;
        i {
            font-size: 32px;
            position: absolute;
            margin-top: 3px;
            z-index: 9999;
            text-align: center;
            color: #8e8e8e;
            margin-left: -50%;
        }
        &--show {
            display: block;
        }
        &--hide {
            display: none;
        }
    }
    &__closetoogle {
        width: 100%;
        height: 48px;
        i {
            font-size: 32px;
            text-align: center;
            color: #8e8e8e;
            margin-left: 50%;
        }
        &--show {
            display: inline-block;
        }
        &--hide {
            display: none;
        }
    }
    &__multiselectelement {
        border: 1px solid #ced4da;
        margin-top: 20px;
        padding: 8px;
        border-radius: 5px;
    }
    &__heading-title {
        color: $color-white;
        padding: 1em;
    }
    &__button-container {
        margin-bottom: 10em;
        text-align: center;
    }
    &__multiselectitemtextarea {
        width: 80%;
    }
    &__addcontainer {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        min-height: 59px;
        height: auto;
    }
    &__deletecontainer {
        float: right;
        margin-top: -27px;
        background: $color-white;
    }
    &__deleteitem {
        color: red;
        text-align: center;
        font-size: 24px;
        opacity: 0.5;
    }
    &__additem {
        color: $primary-color-theme;
        float: right;
    }
    .nav-link.active {
        background: $primary-color-theme;
        margin-right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__dropdown-errormsg {
        text-align: center;
    }
    &__date {
        margin-left: .1em;
    }
    &__lastupdated {
        float: right;
        font-size: .7em;
        margin-top: .5em;
    }
    #id {
        display: none;
    }
    &__downloadFile {
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
        border: 0;
        border-left: 1px solid $shadow-color;
        display: inline-block;
        vertical-align: bottom;
    }
    &__imgContainer {
        float: right;
        position: absolute;
        top: 18em;
        max-height: 15em;
        max-width: 15em;
    }
    &__imgpreview {
        float: right;
        size: inherit;
        max-height: 15em;
        max-width: 15em;
    }
    &__save {
        background: $primary-color-theme !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    .was-validated .ng-invalid~.invalid-feedback {
        display: block;
    }
    // .was-validated .ng-valid ~ .invalid-feedback{
    //     display: none;
    // }
    .hide {
        display: none !important;
    }
}

jqxDropDownList,
jqxDateTimeInput,
jqxDateTimeInput {
    margin-left: 1em;
}

.autocomplete-items {
    list-style: none;
    padding: 0.2em 0;
    margin: 0;
    position: absolute;
    z-index: 50;
    margin-top: 0px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    width: 96%;
    margin-left: 1em;
}

.owl-dt-trigger-disabled {
    opacity: 1 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: $primary-color-theme !important;
}

.dropdown-menu>li.selected {
    background-color: $primary-color-theme !important;
    color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    >a {
        color: $color-white;
    }
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $primary-color-theme !important;
    color: #fff;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: $primary-color-theme !important;
}

.autocomplete-item {
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 1px solid whitesmoke;
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.autocomplete-item:hover,
.autocomplete-item.highlighted {
    background-color: #f9f9f9 !important;
    font-weight: bold;
}

.accordion>.card>.card-header {
    >button {
        color: inherit;
    }
}