<div class="customform">

    <div class="modal-header detailspage__filterctr">
        <button type="button" class="btn detailspage__filterclose" (click)="cancel($event)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="">
        <div class="customform__lastupdated"> Opdateret
            <span class="customform__date">{{lastupdatedTime}}</span> af {{brugerName}}
        </div>
        <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
        </div>
        <div *ngIf="detailsform" class="customform__form-container">
            <div class="customform__nav-container">
                <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a data-toggle="pill" role="tab" class="nav-link  active">Opret</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content customform__container" id="pills-tabContent">
                <div class="form-group">
                    <form class="form-horizontal row" id="detailForm" #detailForm novalidate [formGroup]="detailsForm">
                        <ng-template ngFor let-item [ngForOf]="detailsform.get('items').controls" let-i="index" [ngForTrackBy]="trackByFn">
                            <div class="col-sm-10">
                                <div class="detailspage__accordianscontainer" *ngIf="item.value.accordian!=false && item.value.allaccordians; else noaccordian">
                                    <ngb-accordion #acc="ngbAccordion" id="{{i}}" [activeIds]="activeIds">
                                        <ngb-panel id="panel-{{i}}" title="{{item.value.title}}">
                                            <ng-template ngbPanelContent>
                                                <ng-template ngFor let-accordianitem [ngForOf]="item.value.allaccordians" let-k="index" [ngForTrackBy]="trackByFn">
                                                    <div class="form-group row" id="{{accordianitem.name}}" *ngIf="accordianitem.type=='input' && accordianitem.ld_brugervendtnoegle!=='adresser'  && accordianitem.type!=='file' && accordianitem.ld_brugervendtnoegle!=='body'">
                                                        <label title="{{accordianitem.tooltip}}" class="col-sm-4 col-form-label">{{accordianitem.name}}</label>
                                                        <div class="col-sm-8" *ngIf="accordianitem.required=='true'">
                                                            <input disabled={{accordianitem.readonly}} class="form-control" required [(ngModel)]="accordianitem.value" [ngModelOptions]="{standalone: true}" value={{accordianitem.value}}>
                                                            <div id="{{item.value.ld_brugervendtnoegle}}" class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                                Please fill this field.
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8" *ngIf="accordianitem.required=='false'">
                                                            <input disabled={{accordianitem.readonly}} class="form-control" [(ngModel)]="accordianitem.value" [ngModelOptions]="{standalone: true}" value={{accordianitem.value}}>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="{{accordianitem.name}}" *ngIf="accordianitem.type=='editor'">
                                                        <label title="{{accordianitem.tooltip}} " class="col-sm-4 col-form-label ">{{accordianitem.name}}</label>
                                                        <div class="col-sm-8 ">
                                                            <span (click)="openfilter(filters,$event,item)" class="detailspage__user"><i class="fal fa-user-alt"></i></span>
                                                            <ckeditor #editor id="editor" type="classic" [config]="config" [ngModelOptions]="{standalone: true}" [(ngModel)]="accordianitem.value" (change)="onchngEditordata($event) "></ckeditor>
                                                            <div *ngIf="accordianitem.required=='true'" id="{{item.value.ld_brugervendtnoegle}}" class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                                Please fill this field.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                </div>

                                <ng-template #noaccordian>
                                    <div class="form-group row " id="{{item.value.name}} " *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle!=='adresser' && item.value.hide===false && item.value.ld_brugervendtnoegle.indexOf(
                                                                'skabelontekst')==-1 && item.value.type!=='file' && item.value.ld_brugervendtnoegle!=='body' ">
                                        <label title="{{item.value.tooltip}} " class="col-sm-4 col-form-label ">{{item.value.name}}</label>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='true' && item.value.hide===false ">
                                            <input disabled={{item.value.readonly}} class="form-control " required [(ngModel)]="item.value.value " [ngModelOptions]="{standalone: true} " value={{item.value.value}}>
                                            <div class="invalid-feedback ">
                                                Please fill this field.
                                            </div>
                                        </div>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='false' ">
                                            <input disabled={{item.value.readonly}} class="form-control " [(ngModel)]="item.value.value " [ngModelOptions]="{standalone: true} " value={{item.value.value}}>
                                        </div>
                                    </div>
                                    <div class="form-group row " id="{{item.value.name}} " *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle.indexOf( 'skabelontekst')>-1">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8" *ngIf="item.value.required=='false'">
                                            <span (click)="openfilter(filters,$event,item)" class="detailspage__user"><i class="fal fa-user-alt"></i></span>
                                            <ckeditor #editor id="editor" type="classic" [config]="config" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.value.value" (change)="onchngEditordata($event)"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.name}}" *ngIf="item.value.type=='file' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>

                                        <div class="col-sm-4" *ngIf="item.value.value">

                                            <a class="btn btn-link" (click)="downloadFile($event)" href="{{item.value.value}}">{{item.value.value}}</a>
                                            <span class="customform__downloadFile"></span>
                                        </div>

                                        <div [ngClass]="(item.value.value) ? 'col-sm-4':'col-sm-8'" *ngIf="item.value.required=='true'">

                                            <span> upload a new file</span>
                                            <input *ngIf="readonly==false" (change)="selectFile($event,item)" class="form-control" type="file" required>
                                            <input *ngIf="readonly==true" disabled (change)="selectFile($event,item)" class="form-control" type="file" required>
                                            <div class="invalid-feedback">
                                                Please fill this field.
                                            </div>
                                        </div>
                                        <div [ngClass]="(item.value.value) ? 'col-sm-4':'col-sm-8'" *ngIf="item.value.required=='false'">
                                            <input *ngIf="readonly==false" (change)="selectFile($event,item)" class="form-control" type="file">
                                            <input *ngIf="readonly==true" disabled (change)="selectFile($event,item)" class="form-control" type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.name}}" *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle=='adresser' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8" *ngIf="item.value.required=='true'">
                                            <div class="autocomplete-container">
                                                <input disabled={{item.value.readonly}} class="form-control" required [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}" type="text" autocomplete="off" [value]="selectedStreet" ngxDawaAutocomplete (items$)="onItems($event)" (keyup)="ErrorMsg($event)"
                                                    (highlighted$)="onItemHighlighted($event)" (select$)="onItemSelected($event)" />
                                                <div class="invalid-feedback">
                                                    Please fill this field.
                                                </div>
                                                <div *ngIf="itemss.length > 0">
                                                    <ul class="autocomplete-items">
                                                        <li class="autocomplete-item" *ngFor="let item of itemss; let i = index;" [class.highlighted]="i === highlightedIndex" (click)="onItemSelected(item)">
                                                            {{item.text}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="enableaddresserrorMsg === true">
                                                    <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0" class="text-danger">
                                                        Adressen kunne ikke verificeres. Prøv at skrive lidt af adressen, og find den via de viste forslag.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" *ngIf="item.value.required=='false' && item.value.hide===false">
                                            <div class="autocomplete-container">
                                                <input disabled={{item.value.readonly}} class="form-control" [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}" type="text" [value]="selectedStreet" ngxDawaAutocomplete (items$)="onItems($event)" (keyup)="ErrorMsg($event)" (highlighted$)="onItemHighlighted($event)"
                                                    (select$)="onItemSelected($event)" />
                                                <div class="invalid-feedback">
                                                    Please fill this field.
                                                </div>
                                                <div *ngIf="itemss.length > 0">
                                                    <ul class="autocomplete-items">
                                                        <li class="autocomplete-item" *ngFor="let item of itemss; let i = index;" [class.highlighted]="i === highlightedIndex" (click)="onItemSelected(item)">
                                                            {{item.text}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="enableaddresserrorMsg === true">
                                                    <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0" class="text-danger">
                                                        Adressen kunne ikke verificeres. Prøv at skrive lidt af adressen, og find den via de viste forslag.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}" *ngIf="item.value.type=='dropdown' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8" *ngIf="item.value.required === 'true'">


                                            <!-- multiselect==='false' -->
                                            <select *ngIf="item.value.multiselect==='false' && item.value.relationsvirkning===false" required (change)="Select($event,item)" [(ngModel)]="item.value.selected_name" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" data-live-search="true">
                                            <option
                                                *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                [selected]="optionitems.selected === true ? 'selected':null"
                                                [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                {{optionitems.rel_uri}}
                                            </option>
                                        </select>

                                            <!-- multiselect==='true' -->
                                            <select multiple *ngIf="item.value.multiselect==='true' && item.value.relationsvirkning===false" required class="form-control selectpicker show-tick" data-live-search="true" [(ngModel)]="item.value.selected_name" [ngModelOptions]="{standalone: true}"
                                                (change)="Multiselect($event,item)">
                                            <option
                                                *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                [selected]="optionitems.selected=== true ? 'selected':null"
                                                [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                {{optionitems.rel_uri}}
                                            </option>
                                        </select>
                                            <div id="{{item.value.ld_brugervendtnoegle}}" class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                Please fill this field.
                                            </div>

                                            <!----------new component-->
                                            <!-- //todo required -->
                                            <div *ngIf="item.value.multiselect==='true' && item.value.relationsvirkning===true" [ngClass]="(opentoogle === false)? 'customform__multiselect customform__multiselect--close':'customform__multiselect customform__multiselect--open'">
                                                <ng-template ngFor let-relationoptionitem [ngForOf]="item.value.options" let-j="index" [ngForTrackBy]="trackByFn">
                                                    <div class="customform__multiselectitem  col-sm-5">

                                                        <div [ngClass]="(relationoptionitem.selected===true)? 'customform__sltd': ' customform__unsltd'">
                                                            <label class="form-check-label customform__selectItemlabel">{{relationoptionitem.rel_uri}}
                                                            <input
                                                                [checked]="relationoptionitem.selected===true ? true:false"
                                                                [(ngModel)]="relationoptionitem.selected"
                                                                [ngModelOptions]="{standalone: true}" type="checkbox"
                                                                (change)="Multiselectrelation($event,item,relationoptionitem)"
                                                                class="form-check-input customform__customcheck">
                                                            <span class="customform__checkmark"></span>
                                                        </label>
                                                        </div>
                                                        <!-- Delete -->
                                                        <ng-template ngFor let-intervalitem [ngForOf]="relationoptionitem.intervals" let-in="index" [ngForTrackBy]="trackByFn">
                                                            <div class="customform__multiselectelement">
                                                                <div class="customform__deletecontainer">
                                                                    <a title="Delete new entry" (click)="Deletedateitem($event,item,relationoptionitem,in)" class="button customform__deleteitem" href="#">
                                                                        <i class="fa fa-minus-circle"></i></a>
                                                                </div>
                                                                <!-- fra -->
                                                                <div class="customform__multiselectitemdate">
                                                                    <label class="form-check-label customform__mltsltd-date-lbl">Fra
                                                                    :
                                                                </label>
                                                                    <div class="customform__mltsltd-dateitem">
                                                                        <input [(ngModel)]="intervalitem.fra" [min]="mindate" [ngModelOptions]="{standalone: true}" [readonly]="true" [owlDateTime]="j" type="text" class="form-control" value={{intervalitem.fra}} [owlDateTimeTrigger]="j" placeholder="" />
                                                                        <span class="customform__dateicon" [owlDateTimeTrigger]="j"><i
                                                                            class="fal fa-calendar-alt"></i></span>
                                                                        <span class="customform__closeicon" (click)="clearDate(item)"><i
                                                                            class="fal fa-times"></i></span>
                                                                        <owl-date-time (afterPickerClosed)="dateEditfra(item,intervalitem,relationoptionitem,in,j)" [disabled]="false" [pickerType]="'both'" #j>
                                                                        </owl-date-time>
                                                                    </div>
                                                                </div>
                                                                <!-- til -->
                                                                <div class="customform__multiselectitemdate">
                                                                    <label class="form-check-label customform__mltsltd-date-lbl">Til
                                                                    :
                                                                </label>
                                                                    <div class="customform__mltsltd-dateitem">
                                                                        <input [(ngModel)]="intervalitem.til" [min]="mindate" [ngModelOptions]="{standalone: true}" [readonly]="true" [owlDateTime]="k" type="text" class="form-control" value={{intervalitem.til}} [owlDateTimeTrigger]="k" placeholder="" />
                                                                        <span class="customform__dateicon" [owlDateTimeTrigger]="k"><i
                                                                            class="fal fa-calendar-alt"></i></span>
                                                                        <span class="customform__closeicon" (click)="clearDate(item)"><i
                                                                            class="fal fa-times"></i></span>
                                                                        <owl-date-time (afterPickerClosed)="dateEdittil(item,intervalitem,relationoptionitem,index,k)" [disabled]="false" [pickerType]="'both'" #k>
                                                                        </owl-date-time>

                                                                    </div>
                                                                </div>
                                                                <div class="customform__multiselectitemdate">
                                                                    <div class="form-group">
                                                                        <label class="form-check-label customform__mltsltd-date-lbl">Note:</label>
                                                                        <textarea class="form-control customform__multiselectitemtextarea" [ngModelOptions]="{standalone: true}" [(ngModel)]="intervalitem.note" rows="2"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>

                                                        <div class="customform__addcontainer">
                                                            <a title="Create new entry" (click)="Createdateitem($event,item,relationoptionitem)" class="button customform__additem" href="#">
                                                                <i class="fa fa-plus-circle"></i>Opret</a>
                                                        </div>
                                                    </div>
                                                </ng-template>

                                                <div [ngClass]="(opentoogle === false)? 'customform__opentoogle customform__opentoogle--show': 'customform__opentoogle customform__opentoogle--hide'">
                                                    <a href="#" (click)="tooglepakker($event)">
                                                        <i class="fas fa-chevron-circle-down"></i>
                                                    </a>
                                                </div>
                                                <div [ngClass]="(opentoogle === false)? 'customform__closetoogle customform__closetoogle--hide': 'customform__closetoogle customform__closetoogle--show'">
                                                    <a href="#" (click)="tooglepakker($event)">
                                                        <i class="fas fa-chevron-circle-up"></i>
                                                    </a>

                                                </div>

                                            </div>
                                            <!----------END  new component-->
                                        </div>
                                        <div class="col-sm-8" *ngIf="item.value.required === 'false'  && item.value.relationsvirkning===false && item.value.hide===false">
                                            <select *ngIf="item.value.multiselect==='false' && item.value.relationsvirkning===false" (change)="Select($event,item)" [(ngModel)]="item.value.selected_name" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" data-live-search="true">
                                            <option
                                                *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                [selected]="optionitems.selected===true ? 'selected':null"
                                                [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                {{optionitems.rel_uri}}
                                            </option>
                                        </select>
                                            <select multiple *ngIf="item.value.multiselect==='true' && item.value.relationsvirkning===false" class="form-control selectpicker show-tick" data-live-search="true" #multiselect [(ngModel)]="item.value.selected_name" [ngModelOptions]="{standalone: true}"
                                                (change)="Multiselect($event,item)">
                                            <option
                                                *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                [selected]="optionitems.selected===true ? 'selected':null"
                                                [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                {{optionitems.rel_uri}}
                                            </option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}" *ngIf="item.value.type=='date' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <input [min]="item.value.mindate" [(ngModel)]="item.value.formatdate" [readonly]="true" [ngModelOptions]="{standalone: true}" [owlDateTime]="i" type="text" [required]="item.value.required==='true'? 'required' : null" class="form-control" value={{item.value.value}}
                                                [disabled]="item.value.readonly===true? true : false" [owlDateTimeTrigger]="i" placeholder="" />
                                            <span class="customform__dateicon" [owlDateTimeTrigger]="i"><i
                                                class="fal fa-calendar-alt"></i></span>
                                            <span class="customform__closeicon" (click)="clearDate(item)"><i
                                                class="fal fa-times"></i></span>
                                            <owl-date-time (afterPickerClosed)="dateChange(item,i)" [disabled]="false" [pickerType]="'both'" #i></owl-date-time>
                                            <div id="{{item.value.ld_brugervendtnoegle}}" *ngIf="item.value.required === 'true'" class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                Please fill this field.
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}" *ngIf="item.value.type=='textarea' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}" class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <textarea disabled={{item.value.readonly}} [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}" class="form-control" value={{item.value.value}} id="exampleFormControlTextarea1" rows="15"></textarea>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div *ngIf="item.value.type=='file' && item.value.image">
                                <ng-container [ngTemplateOutlet]="imageTemplate" [ngTemplateOutletContext]="{$implicit: '', image: item.value.image}"></ng-container>
                            </div>
                        </ng-template>
                    </form>
                    <div *ngIf="buttons && buttons.length>0" class="modal-footer">
                        <ng-template ngFor let-clickitem [ngForOf]="buttons" let-i="index" [ngForTrackBy]="trackByFn">
                            <button type="submit" *ngIf="clickitem.click_action==='CALL_update_objekt'"
                                class="btn btn-lg customform__save" (click)="saveData()">
                                <i class="fa fa-save"></i>{{clickitem.value}}</button>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #filters let-c="close" let-d="dismiss">
        <fletfilters-viewer (selectedfletfilters)="setDatatoEditor($event)" [fletfilters]="fletfilters"></fletfilters-viewer>
    </ng-template>
    <ng-template #warning let-c="close" let-d="dismiss">
        <warning-viewer (confirmreplace)="replaceeditorContent($event)">
        </warning-viewer>
    </ng-template>

</div>
<jqxNotification #successnotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errornotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="4000" [template]="'error'">
    <div>{{errorMessage}}</div>
</jqxNotification>