@import "./variables";

.createpage {
    &__container {
        margin: 1em;
    }

    #id {
        display: none;
    }

    jqxDropDownList,
    jqxDateTimeInput,
    jqxDateTimeInput {
        margin-left: 1em;
    }

    .autocomplete-items {
        list-style: none;
        padding: 0.2em 0;
        margin: 0;
        position: absolute;
        z-index: 50;
        margin-top: 0px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-top-color: transparent;
        width: 96%;
        margin-left: 1em;
    }

    .autocomplete-item {
        cursor: pointer;
        padding: 0.5em 1em;
        border-bottom: 1px solid whitesmoke;
    }

    .autocomplete-item:last-child {
        border-bottom: none;
    }

    .autocomplete-item:hover,
    .autocomplete-item.highlighted {
        background-color: #f9f9f9;
        font-weight: bold;
    }

    .was-validated .ng-invalid ~ .invalid-feedback {
        display: block;
    }

    .was-validated .ng-valid ~ .invalid-feedback {
        display: none;
    }

    .hide {
        display: none !important;
    }

    .was-validated .form-group .ng-invalid ~ .invalid-feedback {
        display: block;
    }
}
