<div class="createpage">
  <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
  </div>
  <div class="tab-content createpage__container" id="pills-tabContent">
    <div *ngIf="detailsData" class="form-group">
      <customform [detailsData]="detailsData"></customform>
    </div>
  </div>
</div>