@import './variables';

.menu-right{
    //background-color: $color-lightgray;
    height: $full-height;
    font-weight: $font-weight-normal;


    &__items {
     width: $full-width;
    }

    &__items {
        width: $full-width;
    }

    .active > a {
       // font-weight: bold;
        color: $color-white !important;
    }

    .active {
        background: $primary-color-theme !important;
        box-shadow: 2px 2px 2px 2px $shadow-color;
        border-color: $primary-color-theme;
    }

    &__hamburger-close{
        font-size: 2em;
        float: right;
        color: $primary-color-theme;
        font-weight: 100;
        display: none;
    }
    &__hamburger-open{
        font-size: 2em;
        float: left;
        color: $primary-color-theme;
        font-weight: 100;
        position: relative;
        z-index: 999;

        .fa-times {
            -webkit-text-stroke: 3px $color-white;
        }
    }
    &__list-container{
        position: relative;
        margin-top: 6em;
    } 
    .list-group-item{
        background: $color-white;
        color: $primary-color-theme;
        border-left: none;
        cursor: pointer;
        > a {
            color: $color-dark-black;
        }
    }
    .list-group-item:hover{
        box-shadow: 2px 2px 2px 2px $shadow-color;
       }
}