<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="notifyviewer">
    <div class="modal-header notifyviewer__filterctr">

        <button type="button" class="btn notifyviewer__filterclose" (click)="cancel($event)">
                        <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="form-group">
        <form>
            <div class="form-group row">
                <h6 class="notifyviewer__heading">{{selectedmenuItem}}: {{selectedItem.value}}</h6>
                <p class="notifyviewer__subheading" *ngIf="selectedItem.key==='notificationBatchUpdate' ">Ret udsendelsestidspunkt for filtrerede notifikationer</p>
                <p class="notifyviewer__subheading" *ngIf="selectedItem.key!='notificationBatchUpdate' ">Aflys udsendelse af filterede notifikationer</p>
                <label *ngIf="selectedItem.key==='notificationBatchUpdate'" class="col-sm-4 col-form-label">Tidspunkt</label>
                <div *ngIf="selectedItem.key==='notificationBatchUpdate'" class="col-sm-8">
                    <div class="notifyviewer__mltsltd-dateitem">
                        <input [ngModel]="selecteddate" [min]="mindate" [ngModelOptions]="{standalone: true}" value={{selecteddate}} [readonly]="true" (ngModelChange)="DateChanged($event)" [owlDateTime]="k" type="text" class="form-control" [owlDateTimeTrigger]="k" placeholder="Vælg dato/tidspunkt"
                        />
                        <span class="notifyviewer__dateicon" [owlDateTimeTrigger]="k"><i
                                                                class="fal fa-calendar-alt"></i></span>
                        <span class="notifyviewer__closeicon" (click)="clearDate(item)"><i
                                                                class="fal fa-times"></i></span>
                        <owl-date-time [startAt]="mindate" (dateSelected)="selectedDate(k)" [pickerType]="'both'" [disabled]="false" #k>
                        </owl-date-time>
                        <!-- [showSecondsTimer]='true' -->
                    </div>
                    <div *ngIf="!selectedtime">
                        <p class="text-danger">
                            Udfyld venligst dette felt.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark notifyviewer__cancel" (click)="cancel($event)">
                        <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button type="submit" class="btn btn-outline-dark notifyviewer__save" [disabled]="!selectedtime && selectedItem.key==='notificationBatchUpdate'" (click)="saveFilter($event)">
                        <i class="fa fa-save"></i>Udfør</button>
    </div>
</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>