<div class="detailspage">

    <div class="modal-header detailspage__filterctr">
        <button type="button" class="btn detailspage__filterclose" (click)="cancel($event)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!--  unused 
    <div class="detailspage__header-container">
        <div class="detailspage__header">
            <div *ngIf="detailsform">
                 <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer> 
                 <operations-viewer [actions]="actions" [objekt_uuid]="uuid" [list]="false" [details]="true" [sharedthis]="this"></operations-viewer>
            </div>
        </div>
    </div> -->
    <div class="">
        <div class="detailspage__lastupdated"> Opdateret
            <span class="detailspage__date">{{lastupdatedTime}}</span> af {{brugerName}}
        </div>
        <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
        </div>
        <div *ngIf="detailsform" class="detailspage__form-container">
            <div class="detailspage__nav-container">
                <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a data-toggle="pill" role="tab" class="nav-link  active">Detaljer</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content detailspage__container" id="pills-tabContent">
                <div class="form-group">
                    <form class="form-horizontal row" id="detailForm" #detailForm novalidate [formGroup]="detailsForm">
                        <ng-template ngFor let-item [ngForOf]="detailsform.get('items').controls" let-i="index"
                            [ngForTrackBy]="trackByFn">
                            <div class="col-sm-10">

                                <div class="detailspage__accordianscontainer"
                                    *ngIf="item.value.accordian!=false && item.value.allaccordians; else noaccordian">
                                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                        <ngb-panel title="{{item.value.title}}">
                                            <ng-template ngbPanelContent>
                                                <ng-template ngFor let-accordianitem
                                                    [ngForOf]="item.value.allaccordians" let-k="index"
                                                    [ngForTrackBy]="trackByFn">

                                                    <div class="form-group row" id="{{accordianitem.name}}"
                                                        *ngIf="accordianitem.type=='input' && accordianitem.ld_brugervendtnoegle!=='adresser'  && accordianitem.type!=='file' && accordianitem.ld_brugervendtnoegle!=='body'">
                                                        <label title="{{accordianitem.tooltip}}"
                                                            class="col-sm-4 col-form-label">{{accordianitem.name}}</label>
                                                        <div class="col-sm-8" *ngIf="accordianitem.required=='true'">
                                                            <input disabled={{accordianitem.readonly}}
                                                                class="form-control" required
                                                                [(ngModel)]="accordianitem.value"
                                                                [ngModelOptions]="{standalone: true}"
                                                                value={{accordianitem.value}}>
                                                        </div>
                                                        <div class="col-sm-8" *ngIf="accordianitem.required=='false'">
                                                            <input disabled={{accordianitem.readonly}}
                                                                class="form-control" [(ngModel)]="accordianitem.value"
                                                                [ngModelOptions]="{standalone: true}"
                                                                value={{accordianitem.value}}>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" id="{{accordianitem.name}}"
                                                        *ngIf="accordianitem.type=='editor'">
                                                        <label title="{{accordianitem.tooltip}} "
                                                            class="col-sm-4 col-form-label ">{{accordianitem.name}}</label>
                                                        <div class="col-sm-8 ">
                                                            <span (click)="openfilter(filters,$event,item) "
                                                                class="detailspage__user "><i
                                                                    class="fal fa-user-alt "></i></span>
                                                            <ckeditor #editor id="editor " type="classic "
                                                                [config]="config "
                                                                [ngModelOptions]="{standalone: true} "
                                                                [(ngModel)]="accordianitem.value "
                                                                (change)="onchngEditordata($event) "></ckeditor>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                </div>


                                <ng-template #noaccordian>
                                    <div class="form-group row " id="{{item.value.name}} "
                                        *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle!=='adresser' && item.value.type!=='file' && item.value.ld_brugervendtnoegle!=='body' && item.value.hide===false ">
                                        <label title="{{item.value.tooltip}} "
                                            class="col-sm-4 col-form-label ">{{item.value.name}}</label>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='true' ">
                                            <input disabled={{item.value.readonly}} class="form-control " required
                                                [(ngModel)]="item.value.value " [ngModelOptions]="{standalone: true} "
                                                value={{item.value.value}}>
                                            <div class="invalid-feedback ">
                                                Please fill this field.
                                            </div>
                                        </div>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='false' ">
                                            <input disabled={{item.value.readonly}} class="form-control "
                                                [(ngModel)]="item.value.value " [ngModelOptions]="{standalone: true} "
                                                value={{item.value.value}}>
                                        </div>
                                    </div>
                                    <div class="form-group row " id="{{item.value.name}} "
                                        *ngIf="item.value.type==='editor' && item.value.hide===false ">
                                        <label title="{{item.value.tooltip}} "
                                            class="col-sm-4 col-form-label ">{{item.value.name}}</label>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='false' ">
                                            <!-- <input disabled={{item.value.readonly}} class="form-control " required [(ngModel)]="item.value.value " [ngModelOptions]="{standalone: true} " value={{item.value.value}}> -->
                                            <span (click)="openfilter(filters,$event,item) "
                                                class="detailspage__user "><i class="fal fa-user-alt "></i></span>
                                            <ckeditor #editor id="editor " type="classic " [config]="config "
                                                [ngModelOptions]="{standalone: true} " [(ngModel)]="item.value.value "
                                                (change)="onchngEditordata($event) "></ckeditor>
                                        </div>
                                    </div>
                                    <div class="form-group row " id="{{item.value.name}} "
                                        *ngIf="item.value.type=='file' ">
                                        <label title="{{item.value.tooltip}} "
                                            class="col-sm-4 col-form-label ">{{item.value.name}}</label>

                                        <div class="col-sm-4 " *ngIf="item.value.value ">

                                            <a class="btn btn-link " (click)="downloadFile($event) "
                                                href="{{item.value.value}} ">{{item.value.value}}</a>
                                            <span class="detailspage__downloadFile "></span>
                                        </div>

                                        <div [ngClass]="(item.value.value) ? 'col-sm-4': 'col-sm-8' "
                                            *ngIf="item.value.required=='true' ">

                                            <span> upload a new file</span>
                                            <input *ngIf="readonly==false " (change)="selectFile($event,item) "
                                                class="form-control " type="file " required>
                                            <input *ngIf="readonly==true " disabled (change)="selectFile($event,item) "
                                                class="form-control " type="file " required>
                                            <div class="invalid-feedback ">
                                                Please fill this field.
                                            </div>
                                        </div>
                                        <div [ngClass]="(item.value.value) ? 'col-sm-4': 'col-sm-8' "
                                            *ngIf="item.value.required=='false' ">
                                            <input *ngIf="readonly==false " (change)="selectFile($event,item) "
                                                class="form-control " type="file ">
                                            <input *ngIf="readonly==true " disabled (change)="selectFile($event,item) "
                                                class="form-control " type="file ">
                                        </div>
                                    </div>
                                    <div class="form-group row " id="{{item.value.name}} "
                                        *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle=='adresser' && item.value.hide===false ">
                                        <label title="{{item.value.tooltip}} "
                                            class="col-sm-4 col-form-label ">{{item.value.name}}</label>
                                        <div class="col-sm-8 " *ngIf="item.value.required=='true' ">
                                            <div class="autocomplete-container ">
                                                <input disabled={{item.value.readonly}} class="form-control " required
                                                    [(ngModel)]="item.value.value "
                                                    [ngModelOptions]="{standalone: true} " type="text " [value]="selectedStreet
                                                    " ngxDawaAutocomplete (items$)="onItems($event) "
                                                    (keyup)="ErrorMsg($event) "
                                                    (highlighted$)="onItemHighlighted($event) "
                                                    (select$)="onItemSelected($event) " />
                                                <div class="invalid-feedback ">
                                                    Please fill this field.
                                                </div>
                                                <div *ngIf="itemss.length> 0">
                                                    <ul class="autocomplete-items">
                                                        <li class="autocomplete-item"
                                                            *ngFor="let item of itemss; let i = index;"
                                                            [class.highlighted]="i === highlightedIndex"
                                                            (click)="onItemSelected(item)">
                                                            {{item.text}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="enableaddresserrorMsg === true">
                                                    <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0"
                                                        class="text-danger">
                                                        Adressen kunne ikke verificeres. Prøv at skrive lidt af
                                                        adressen, og find den via de viste forslag.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" *ngIf="item.value.required=='false'">
                                            <div class="autocomplete-container">
                                                <input disabled={{item.value.readonly}} class="form-control"
                                                    [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}"
                                                    type="text" [value]="selectedStreet" ngxDawaAutocomplete
                                                    (items$)="onItems($event)" (keyup)="ErrorMsg($event)"
                                                    (highlighted$)="onItemHighlighted($event)"
                                                    (select$)="onItemSelected($event)" />
                                                <div class="invalid-feedback">
                                                    Please fill this field.
                                                </div>
                                                <div *ngIf="itemss.length > 0">
                                                    <ul class="autocomplete-items">
                                                        <li class="autocomplete-item"
                                                            *ngFor="let item of itemss; let i = index;"
                                                            [class.highlighted]="i === highlightedIndex"
                                                            (click)="onItemSelected(item)">
                                                            {{item.text}}
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="enableaddresserrorMsg === true">
                                                    <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0"
                                                        class="text-danger">
                                                        Adressen kunne ikke verificeres. Prøv at skrive lidt af
                                                        adressen, og find den via de viste forslag.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                                        *ngIf="item.value.type=='dropdown' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}"
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">


                                            <!-- multiselect==='false' -->
                                            <select [disabled]="item.value.readonly"
                                                *ngIf="item.value.multiselect==='false' && item.value.relationsvirkning===false && item.value.required === 'true'"
                                                required (change)="Select($event,item)"
                                                [(ngModel)]="item.value.selected_name"
                                                [ngModelOptions]="{standalone: true}"
                                                class="form-control selectpicker show-tick" data-live-search="true">
                                                <option
                                                    *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                    [selected]="optionitems.selected === true ? 'selected':null"
                                                    [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                    {{optionitems.rel_uri}}
                                                </option>
                                            </select>

                                            <!-- multiselect==='true' -->
                                            <select [disabled]="item.value.readonly" multiple
                                                *ngIf="item.value.multiselect==='true' && item.value.relationsvirkning===false && item.value.required === 'true'"
                                                required class="form-control selectpicker show-tick"
                                                data-live-search="true" [(ngModel)]="item.value.selected_name"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="Multiselect($event,item)">
                                                <option
                                                    *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                    [selected]="optionitems.selected=== true ? 'selected':null"
                                                    [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                    {{optionitems.rel_uri}}
                                                </option>
                                            </select>
                                            <div id="{{item.value.ld_brugervendtnoegle}}"
                                                class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                Please fill this field.
                                            </div>

                                            <!----------new component-->
                                            <!-- //todo required -->
                                            <div *ngIf="item.value.multiselect=='true' && item.value.relationsvirkning==true"
                                                [ngClass]="(opentoogle === false)? 'detailspage__multiselect detailspage__multiselect--close':'detailspage__multiselect detailspage__multiselect--open'">
                                                <ng-template ngFor let-relationoptionitem [ngForOf]="item.value.options"
                                                    let-j="index" [ngForTrackBy]="trackByFn">
                                                    <div class="detailspage__multiselectitem  col-sm-5">

                                                        <div
                                                            [ngClass]="(relationoptionitem.selected===true)? 'detailspage__sltd': ' detailspage__unsltd'">
                                                            <label
                                                                class="form-check-label detailspage__selectItemlabel">{{relationoptionitem.rel_uri}}
                                                                <input
                                                                    [checked]="relationoptionitem.selected===true ? true:false"
                                                                    [(ngModel)]="relationoptionitem.selected"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    type="checkbox"
                                                                    (change)="Multiselectrelation($event,item,relationoptionitem)"
                                                                    class="form-check-input detailspage__customcheck">
                                                                <span class="detailspage__checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <!-- Delete -->
                                                        <ng-template ngFor let-intervalitem
                                                            [ngForOf]="relationoptionitem.intervals" let-in="index"
                                                            [ngForTrackBy]="trackByFn">
                                                            <div class="detailspage__multiselectelement">
                                                                <div class="detailspage__deletecontainer">
                                                                    <a title="Delete new entry"
                                                                        (click)="Deletedateitem($event,item,relationoptionitem,in)"
                                                                        class="button detailspage__deleteitem" href="#">
                                                                        <i class="fa fa-minus-circle"></i></a>
                                                                </div>
                                                                <!-- fra -->
                                                                <div class="detailspage__multiselectitemdate">
                                                                    <label
                                                                        class="form-check-label detailspage__mltsltd-date-lbl">Fra
                                                                        :
                                                                    </label>
                                                                    <div class="detailspage__mltsltd-dateitem">
                                                                        <input [min]="mindate"
                                                                            [(ngModel)]="intervalitem.fra"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [readonly]="true" [owlDateTime]="j"
                                                                            type="text" class="form-control"
                                                                            value={{intervalitem.fra}}
                                                                            [owlDateTimeTrigger]="j" placeholder="" />
                                                                        <span class="detailspage__dateicon"
                                                                            [owlDateTimeTrigger]="j"><i
                                                                                class="fal fa-calendar-alt"></i></span>
                                                                        <span class="detailspage__closeicon"
                                                                            *ngIf="item.value.readonly===false"
                                                                            (click)="clearDate(item)"><i
                                                                                class="fal fa-times"></i></span>
                                                                        <owl-date-time
                                                                            (afterPickerClosed)="dateEditfra(item,intervalitem,relationoptionitem,in,j)"
                                                                            [disabled]="item.value.readonly"
                                                                            [pickerType]="'both'" #j>
                                                                        </owl-date-time>
                                                                    </div>
                                                                </div>
                                                                <!-- til -->
                                                                <div class="detailspage__multiselectitemdate">
                                                                    <label
                                                                        class="form-check-label detailspage__mltsltd-date-lbl">Til
                                                                        :
                                                                    </label>
                                                                    <div class="detailspage__mltsltd-dateitem">
                                                                        <input [min]="mindate"
                                                                            [(ngModel)]="intervalitem.til"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [readonly]="true" [owlDateTime]="k"
                                                                            type="text" class="form-control"
                                                                            value={{intervalitem.til}}
                                                                            [owlDateTimeTrigger]="k" placeholder="" />
                                                                        <span class="detailspage__dateicon"
                                                                            [owlDateTimeTrigger]="k"><i
                                                                                class="fal fa-calendar-alt"></i></span>
                                                                        <span class="detailspage__closeicon"
                                                                            *ngIf="item.value.readonly===false"
                                                                            (click)="clearDate(item)"><i
                                                                                class="fal fa-times"></i></span>
                                                                        <owl-date-time
                                                                            (afterPickerClosed)="dateEdittil(item,intervalitem,relationoptionitem,index,k)"
                                                                            [disabled]="item.value.readonly"
                                                                            [pickerType]="'both'" #k>
                                                                        </owl-date-time>

                                                                    </div>
                                                                </div>
                                                                <div class="detailspage__multiselectitemdate">
                                                                    <div class="form-group">
                                                                        <label
                                                                            class="form-check-label detailspage__mltsltd-date-lbl">Note:</label>
                                                                        <textarea
                                                                            class="form-control detailspage__multiselectitemtextarea"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [(ngModel)]="intervalitem.note"
                                                                            rows="2"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>

                                                        <div class="detailspage__addcontainer">
                                                            <a title="Create new entry"
                                                                (click)="Createdateitem($event,item,relationoptionitem)"
                                                                class="button detailspage__additem" href="#">
                                                                <i class="fa fa-plus-circle"></i>Opret</a>
                                                        </div>
                                                    </div>
                                                </ng-template>

                                                <div
                                                    [ngClass]="(opentoogle === false)? 'detailspage__opentoogle detailspage__opentoogle--show': 'detailspage__opentoogle detailspage__opentoogle--hide'">
                                                    <a href="#" (click)="tooglepakker($event)">
                                                        <i class="fas fa-chevron-circle-down"></i>
                                                    </a>
                                                </div>
                                                <div
                                                    [ngClass]="(opentoogle === false)? 'detailspage__closetoogle detailspage__closetoogle--hide': 'detailspage__closetoogle detailspage__closetoogle--show'">
                                                    <a href="#" (click)="tooglepakker($event)">
                                                        <i class="fas fa-chevron-circle-up"></i>
                                                    </a>

                                                </div>

                                            </div>
                                            <!----------END  new component-->

                                            <!-- <div class="col-sm-8"
            *ngIf="item.value.required === 'false'  && item.value.relationsvirkning===false "> -->
                                            <select [disabled]="item.value.readonly"
                                                *ngIf="item.value.multiselect==='false' && item.value.relationsvirkning===false && item.value.required === 'false'"
                                                (change)="Select($event,item)" [(ngModel)]="item.value.selected_name"
                                                [ngModelOptions]="{standalone: true}"
                                                class="form-control selectpicker show-tick" data-live-search="true">
                                                <option
                                                    *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                    [selected]="optionitems.selected===true ? 'selected':null"
                                                    [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                    {{optionitems.rel_uri}}
                                                </option>
                                            </select>
                                            <select [disabled]="item.value.readonly" multiple
                                                *ngIf="item.value.multiselect==='true' && item.value.relationsvirkning===false && item.value.required === 'false'"
                                                class="form-control selectpicker show-tick" data-live-search="true"
                                                #multiselect [(ngModel)]="item.value.selected_name"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="Multiselect($event,item)">
                                                <option
                                                    *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                    [selected]="optionitems.selected===true ? 'selected':null"
                                                    [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                    {{optionitems.rel_uri}}
                                                </option>
                                            </select>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                                        *ngIf="item.value.type=='date' && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}"
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8" *ngIf="item.value.readonly===false">
                                            <input [min]="item.value.mindate" [(ngModel)]="item.value.formatdate"
                                                [readonly]="true" [ngModelOptions]="{standalone: true}"
                                                [owlDateTime]="i" type="text"
                                                [required]="item.value.required==='true'? 'required' : null"
                                                class="form-control" value={{item.value.value}}
                                                [disabled]="item.value.readonly===true? true : false"
                                                [owlDateTimeTrigger]="i" placeholder="" />
                                            <span class="detailspage__dateicon" [owlDateTimeTrigger]="i"><i
                                                    class="fal fa-calendar-alt"></i></span>
                                            <span class="detailspage__closeicon" *ngIf="item.value.readonly===false"
                                                (click)="clearDate(item)"><i class="fal fa-times"></i></span>
                                            <owl-date-time (afterPickerClosed)="dateChange(item,i)"
                                                [disabled]="item.value.readonly" [pickerType]="'both'" #i>
                                            </owl-date-time>
                                            <div id="{{item.value.ld_brugervendtnoegle}}"
                                                *ngIf="item.value.required === 'true'"
                                                class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                                                Please fill this field.
                                            </div>
                                        </div>
                                        <div class="col-sm-8" *ngIf="item.value.readonly===true">
                                            <input [(ngModel)]="item.value.selected_list" [readonly]="true"
                                                [ngModelOptions]="{standalone: true}" type="text"
                                                [required]="item.value.required==='true'? 'required' : null"
                                                class="form-control" value={{item.value.value}}
                                                [disabled]="item.value.readonly===true? true : false" placeholder="" />
                                            <span class="detailspage__dateicon"><i
                                                    class="fal fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                                        *ngIf="item.value.type=='textarea'  && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}"
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <textarea disabled={{item.value.readonly}} [(ngModel)]="item.value.value"
                                                [ngModelOptions]="{standalone: true}" class="form-control"
                                                value={{item.value.value}} id="exampleFormControlTextarea1"
                                                rows="15"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                                        *ngIf="item.value.type=='html'  && item.value.hide===false">
                                        <label title="{{item.value.tooltip}}"
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <div [innerHTML]="item.value.value"></div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>

                            <div *ngIf="item.value.type=='file' && item.value.image">
                                <ng-container [ngTemplateOutlet]="imageTemplate"
                                    [ngTemplateOutletContext]="{$implicit: '', image: item.value.image}"></ng-container>
                            </div>
                        </ng-template>


                    </form>

                    <div *ngIf="buttons && buttons.length>0" class="modal-footer">
                        <ng-template ngFor let-clickitem [ngForOf]="buttons" let-i="index" [ngForTrackBy]="trackByFn">
                            <button type="submit" *ngIf="clickitem.click_action==='CALL_update_objekt'"
                                class="btn btn-lg detailspage__save" (click)="saveData()">
                                <i class="fa fa-save"></i>{{clickitem.value}}</button>
                            <button *ngIf="clickitem.click_action==='delete'" type="submit"
                                class="btn btn-lg detailspage__slet" (click)="Delete()">
                                <i class="fa fa-trash"></i>{{clickitem.value}}</button>
                        </ng-template>

                    </div>
                </div>


            </div>
            <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9"
                [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
                [template]="'success'">
                <div>
                    Success!! Thank you..
                </div>
            </jqxNotification>
            <jqxNotification #errorNotification [width]="3000" [position]="'bottom-right'" [opacity]="0.9"
                [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="15000"
                [template]="'error'">
                <div>{{errorMessage}}</div>
            </jqxNotification>

        </div>
    </div>
    <ng-template #filters let-c="close" let-d="dismiss">
        <fletfilters-viewer (selectedfletfilters)="setDatatoEditor($event)" [fletfilters]="fletfilters">
        </fletfilters-viewer>
    </ng-template>
    <ng-template #warning let-c="close" let-d="dismiss">
        <warning-viewer (confirmreplace)="replaceeditorContent($event)">
        </warning-viewer>
    </ng-template>
</div>