<!-- FUTURE COMPONENT -->
<div class="notifications">
    <div *ngIf="success ===true" class="notifications__success">
        <p class="notifications__message">
            {{message}}
        </p>
    </div>
    <div *ngIf="warning ===true" class="notifications__warning">
        <p class="notifications__message">
            {{message}}
        </p>
    </div>
    <div *ngIf="error ===true" class="notifications__error">
        <p class="notifications__message">
            {{message}}
        </p>
    </div>
</div>