@import "./variables";
.notifications {
    z-index: 999;
    height: 148px;
    width: 100%;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    &__success {
        background-color: $color-highlight-green;
        min-width: 300px;
        height: 87px;
        border-radius: 7px;
        float: right;
        margin-right: 15px;
        width: auto;
        //animation: toogledisplay 5s both;
        animation: slide-down .3s ease-out, hide .6s ease-out;
    }
    &__warning {
        background-color: $color-warning;
        min-width: 300px;
        height: 87px;
        border-radius: 7px;
        float: right;
        margin-right: 15px;
        width: auto;
    }
    &__error {
        background-color: $color-error-red;
        min-width: 300px;
        height: 87px;
        border-radius: 7px;
        float: right;
        margin-right: 15px;
        width: auto;
    }
    &__message {
        padding: 15px;
        color: $color-white;
    }
    @-webkit-keyframes fadeAnimation {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
            display: none;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            display: block;
        }
    }
    @keyframes hide {
        0% {
            display: block;
        }
        100% {
            display: none;
        }
    }
}