@import "./variables";
.menu-left {
    //background-color: $color-lightgray;
    height: $full-height;
    border-right: none;
    margin-top: 5.5em;
    overflow: scroll;
    font-weight: $font-weight-normal;
    &__items {
        width: $full-width;
    }
    .active>a {
        color: $color-white !important;
    }
    .active {
        background: $primary-color-theme !important;
        box-shadow: 2px 2px 2px 2px $shadow-color;
        border-color: $primary-color-theme;
    }
    .submenu {
        background: $primary-color-theme-unhighlight !important;
        box-shadow: 2px 2px 2px 2px $shadow-color;
        border-color: $primary-color-theme-unhighlight;
        // display: block;
        // .submenu>li {
        //     display: block;
        // }
    }
    .list-group-item {
        background: $color-white;
        border-right: none;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }
    .list-group-item>a {
        color: $color-dark-black;
    }
    .list-group-item:hover {
        box-shadow: 2px 2px 2px 2px $shadow-color;
    }
    &__seperator {
        background: $color-highlight-green;
        height: 1em;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    li.list-group-item.active.submenu>li {
        display: block;
    }
    .submenuparent {
        margin-top: 1em;
        display: none;
    }
    &__downarrow {
        font-size: 1.5em;
        float: right;
        margin-right: .5em;
        line-height: .3em;
        transition-duration: 1s;
    }
    &__uparrow {
        font-size: 1.5em;
        float: right;
        margin-right: .5em;
        line-height: 1em;
        transition-duration: 1s;
    }
}

.menu-left::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.menu-left::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.menu-left::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}