<div class="menu-left">
    <nav>
        <ul class="list-group">
            <ng-template ngFor let-item *ngIf="menulist" [ngForOf]="menulist" let-i="index" [ngForTrackBy]="trackByFn">
                <div>
                    <li *ngIf="item.brugervendtnoegle && (item.click_action === 'list_objekt_data' || item.click_action === 'getObjektfilter')" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.brugervendtnoegle}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'configuration'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'templates'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'translation'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'getuseranalytics'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'uploads'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                        (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                        <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                    </li>
                    <li *ngIf="item.brugervendtnoegle && item.click_action === 'skemaeditor'" [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']" #rla="routerLinkActive"
                    (click)="active($event,item,item.uuid,item.brugervendtnoegle)">
                    <a routerLink="/{{item.click_action}}" routerLinkActive>{{item.funktionsnavn}}</a>
                </li>
                </div>
            </ng-template>

        </ul>
    </nav>
</div>