<div class="dashboard">
    <div style="width: 100%; display: inline-block;">
        <div id="donutchart" style="width: 50%; height: 500px;float: left;"></div>
        <div id="barchart_values" style="width: 50%; height: 500px; float:left;"></div>
        <div id="smilie_chart">
                <div id="dialog">Is this a 3 button dialog?</div>
               <div class="dashboard__pagination"> <a href="#"><i class="fa fa-caret-left float-left"></i></a><p class="dashboard__week float-left"> UGE 32 2017</p><a href="#"><i class="fa fa-caret-right float-left"></i></a></div>
            <ul class="dashboard__chart-container">
                <li class="dashboard__chart-element-first">
                    <div class="dashboard__chart-label-container">
                        <p class="dashboard__chart-element-labels">Activity1 <span>Ligge på rygge... </span></p>
                        <p class="dashboard__chart-element-labels">Activity2 <span>Tage trappen...</span></p>
                        <p class="dashboard__chart-element-labels">Activity3 <span>Gå på tur...</span></p>
                    </div>
                </li>
                <li class="dashboard__chart-element">
                        <a  data-toggle="modal" id="emoji1" data-target="#exampleModal"  href="#" class="dashboard__chart-emoji dashboard__chart-emoji--green"> <i class="fa fa-smile-o" aria-hidden="true"></i></a> 
                        <a data-toggle="modal" data-target="#exampleModal" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--yellow"> <i class="fa fa-meh-o" aria-hidden="true"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--yellow"> </a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--label"> UGE Start</a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()"href="#" class="dashboard__chart-emoji dashboard__chart-emoji--green"> <i class="fa fa-smile-o" aria-hidden="true"></i></a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()" ref="#" class="dashboard__chart-emoji dashboard__chart-emoji--red"> </a>
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--red"> <i class="fa fa-frown-o" aria-hidden="true"></i></a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()" ref="#" class="dashboard__chart-emoji dashboard__chart-emoji--green"> <i class="fa fa-smile-o" aria-hidden="true"></i></a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--green"></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--green"> <i class="fa fa-smile-o" aria-hidden="true"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--yellow"> <i class="fa fa-meh-o" aria-hidden="true"></i></a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"> <i class="fa fa-adn"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"> <i class="fa fa-adn"></i></a> 
                </li>
                <li class="dashboard__chart-element">
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"> <i class="fa fa-adn"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"> <i class="fa fa-adn"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--activity"> <i class="fa fa-adn"></i></a> 
                        <a (click)="changeActivity()" href="#" class="dashboard__chart-emoji dashboard__chart-emoji--label"> UGE Slut</a> 
                </li>
            </ul>
        </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Change Activity Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> <form>
                <div class="modal-body">
                   
                        <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Activity Status</legend>
                                <div class="col-sm-10">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="Done" value="Done">
                                    <label class="form-check-label" for="Done">
                                      Done
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="Partially" value="Partially">
                                    <label class="form-check-label" for="Partially">
                                      Partially
                                    </label>
                                  </div>
                                  <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="Not Done" value="Not Done">
                                    <label class="form-check-label" for="Not Done">
                                      Not Done
                                    </label>
                                  </div>
                                </div>
                              </div>
                              
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button (click)="changeActivity($event)" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </form>
              </div>
            </div>
          </div>