@import "./variables";

.uploadspage {
    margin-bottom: 2em;
    margin-top: 10em;

    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: $minimum-priority;
        background: $color-white;
        height: 5em;
        height: 100%;
        overflow-y: scroll;
    }

    &--nav-link {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color-theme;
        margin-right: 0;
        margin-left: .4em;
        color: $primary-color-theme;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link {
        &:first-child {
            margin-left: 0;
        }
    }

    .nav-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__subheading {
        text-align: center;
    }

    &__filterctr {
        width: 100%;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
    }

    &__filterclose {
        float: right;
        color: $primary-color-theme;
        background-color: $color-white;
        font-size: 30px;
    }

    &__heading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    &__subheading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
    }

    &__header {
        background: $color-highlight-green;
        border: 1px solid $primary-color-theme;
        border-radius: .4em;
        height: 3em;
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: .5em;
    }

    &__container {
        margin: 1em;
    }

    &__nav-container {
        margin-top: -2.6em;
    }

    .afu-upload-btn {
        display: none;
    }

    &__heading-container {
        background: $background-dark-gray;
        height: 3em;
        margin-bottom: 1em;
    }

    &__save {
        background: $primary-color-theme;
        border: $primary-color-theme;
    }

    &__form-container {
        margin-top: 3em;
        border: 1px solid $primary-color-theme;
        margin-bottom: 200px;
        width: 100%;
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 400px;
    }

    &__overwritectr {
        padding: 20px;
    }

    &__overwritectrall {
        margin-top: 20px;
    }

    &__customcheckbox {
        padding-top: 10px;
    }

    .btn-primary {
        background: $primary-color-theme;
        border: $primary-color-theme;
    }
}

.custom-control-label::after {
    position: absolute;
    top: 0px;
    left: 34.5%;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control-label::before {
    position: absolute;
    top: 0px;
    left: 34.5%;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control-label--modal::after {
    left: 90%;
}

.custom-control-label--modal::before {
    left: 90%;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary-color-theme;
    background-color: $primary-color-theme;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    width: 100%;
    min-height: 30px;
}
