<div>
    <div class="uploadspage">
        <div class="uploadspage__header-container">
            <div class="uploadspage__header">
                <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                <div class="detailspage__operations">
                    <div>
                        <button (click)="Cancel($event)" class="btn detailspage__operations-icon detailspage__buttons-icon" title="Cancel save">
                            <i class="fa fa-times-circle"></i>Annuller</button>
                        <button type="submit" (click)="savefiles($event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                            <i class="fa fa-save"></i>Gem
                        </button>
                    </div>
                </div>
            </div>
            <div class="uploadspage__form-container">
                <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
                </div>
                <div class="uploadspage__nav-container">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab" class="nav-link active" aria-controls="pills-i" aria-selected="true">Upload pictures and pdf files
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content uploadspage__container" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">
                        <div class="form-group">
                            <form>
                                <div *ngIf="paths" class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Select path</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctpath" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctpath">
                                            <ng-template ngFor let-item [ngForOf]="paths" let-i="index" let first=first;
                                                [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.uuid" *ngIf="item.uuid">
                                                    {{item.path}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="slctpath && slctpath.indexOf('gjensidige')!=-1">
                                    <label class="col-sm-4 col-form-label"> Select Organisation</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctOrg" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onchangeOrg($event,item)" id="slctpath">
                                            <ng-template ngFor let-item [ngForOf]="sorteduserrelations" let-i="index"
                                                let first=first; [ngForTrackBy]="trackByFn">
                                                <option [ngValue]="item.organisation_uuid"
                                                    *ngIf="item.org && item.organisation_uuid">
                                                    {{item.org}}
                                                </option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="slctpath && slctpath!=null" class="form-group row">
                                    <label class="col-sm-4 col-form-label">Select files</label>
                                    <div class="col-sm-8">
                                        <angular-file-uploader #fileUpload [config]="picconfig">
                                        </angular-file-uploader>
                                        <!-- <button (click)="DocUpload($event)" class="btn btn-success uploadspage__save" type="button">Save
                        picture</button> -->
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Overwrite files if existing</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" [checked]="overwrite===true ? true:false" [(ngModel)]="overwrite" [ngModelOptions]="{standalone: true}" type="checkbox" (change)="Changeoverwrite($event)">

                                    </div>
                                </div> -->


                                <div class="uploadspage__customcheckbox">
                                    <div class="custom-checkbox">
                                        <input [checked]="overwrite===true ? true:false" [(ngModel)]="overwrite" [ngModelOptions]="{standalone: true}" type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                        <label class="custom-control-label" for="customCheck">Overwrite files if existing</label>
                                    </div>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>

    <ng-template #uploadhandler let-c="close" let-d="dismiss">
        <div class="modal-header uploadspage__filterctr">
            <button type="button" class="btn uploadspage__filterclose" (click)="cancel($event)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body itsystems--modal-body">

            <div class="form-group">
                <form>
                    <div class="uploadspage__overwritectr">
                        <h6 class="uploadspage__heading">Files already exists</h6>
                        <ng-template ngFor let-file [ngForOf]="failedfiles" let-in="index" [ngForTrackBy]="trackByFn">
                            <!-- <div class="form-group row uploadspage__customcheck">
                                <label class="col-sm-10 col-form-label">{{file.file}}</label>
                                <input [checked]="file.exists===true ?false:true" [(ngModel)]="file.exists" [ngModelOptions]="{standalone: true}" type="checkbox" (change)="Changeoverwriteall($event)" class="col-sm-2 form-check-input uploadspage__customcheck ">

                            </div> -->

                            <div class="uploadspage__customcheckbox">
                                <div class="custom-checkbox">
                                    <input [checked]="!file.exists" type="checkbox" type="checkbox" class="custom-control-input" id="{{in}}" (change)="Changeoverwritefile($event,file)" name="{{in}}">
                                    <label class="custom-control-label custom-control-label--modal" for="{{in}}">{{file.file}}</label>
                                </div>
                            </div>


                        </ng-template>
                        <div class="uploadspage__customcheckbox">
                            <div class="custom-checkbox">
                                <input [checked]="alloverwrite" [(ngModel)]="alloverwrite" [ngModelOptions]="{standalone: true}" (change)="Changeoverwriteall($event)" type="checkbox" class="custom-control-input" name="customCheckmodal" id="customCheckmodal">
                                <label class="custom-control-label custom-control-label--modal" for="customCheckmodal">Overwrite all above files</label>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-10 col-form-label">Overwrite all above files</label>
                            <input class="col-sm-2 form-check-input" [checked]="alloverwrite===true ? false:true" [(ngModel)]="alloverwrite" [ngModelOptions]="{standalone: true}" type="checkbox" (change)="Changeoverwriteall($event)">
                            <span class="uploadspage__checkmark"></span>
                        </div> -->
                    </div>

                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark notifyviewer__cancel" (click)="cancel($event)">
                <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
            <button type="submit" class="btn btn-outline-dark notifyviewer__save" (click)="Saveagain($event)">
                <i class="fa fa-save"></i>Overwrite</button>
        </div>

    </ng-template>


</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>

<!-- <notifications-viewer [error]="error" [success]="success" [message]="message"></notifications-viewer> -->