<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="warning">
    <div class="modal-header notifyviewer__filterctr">

        <button type="button" class="btn notifyviewer__filterclose" (click)="cancel($event)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">
        <form>
            <h6 class="sendemail__heading"><i class="fas fa-exclamation warning__icon"></i> Er du sikker ? på, at du vil
                erstatte indholdet Klik på Udfør for at bekræfte, eller på Annuller for at afbryde.</h6>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark sendemail__cancel" (click)="cancel($event)">
            <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button type="submit" class="btn btn-outline-dark sendemail__save" (click)="apply($event)">
            <i class="fa fa-save"></i>Udfør</button>
    </div>
</div>