<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="skemadelete">
    <div class="modal-header notifyviewer__filterctr">

        <button type="button" class="btn notifyviewer__filterclose" (click)="cancel($event)">
                        <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="form-group">
        <form>
            <div class="form-group row">
                <h6 class="skemadelete__heading">Er du sikker? Du vil slette {{slctdSkema.brugervendtnoegle}}.</h6>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark skemadelete__cancel" (click)="cancel($event)">
                        <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button type="submit" class="btn btn-outline-dark skemadelete__save" (click)="skemadelete($event)">
                        <i class="fa fa-save"></i>Slet</button>
    </div>
</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>