<div>
    <div class="skemapage">
        <div class="skemapage__header-container">
            <div class="skemapage__header">
                <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                <div class="detailspage__operations">
                    <div>
                        <button (click)="Cancel($event)" class="btn detailspage__operations-icon detailspage__buttons-icon" title="Cancel save">
                                                        <i class="fa fa-times-circle"></i>Annuller</button>
                        <!-- <button type="submit" (click)="deleteSkema($event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                                                            <i class="fa fa-trash"></i>Slet
                                                    </button> -->
                        <button type="submit" (click)="saveSkema(skemadelete,$event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                                                        <i class="fa fa-save"></i>Gem
                                                </button>
                        <button type="submit" (click)="createSkema(skemacreate,$event)" class="btn detailspage__operations-icon detailspage__buttons-icon">
                                                    <i class="fa fa-plus-circle"></i>Opret
                                            </button>
                    </div>
                </div>
            </div>
            <div class="skemapage__form-container">
                <div class="skemapage__nav-container">
                    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab" class="nav-link active" aria-controls="pills-i" aria-selected="true">Rediger
                                                                Skema</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content skemapage__container" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">
                        <div class="form-group">
                            <form *ngIf="sorteduserrelations && sorteduserrelations.length>0">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Organisation</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="slctorg" data-live-search="true" #selectorg [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onChange($event,item)" id="slctorg">
                                                                                        <ng-template ngFor let-item
                                                                                                [ngForOf]="sorteduserrelations"
                                                                                                let-i="index" let
                                                                                                first=first;
                                                                                                [ngForTrackBy]="trackByFn">
                                                                                                <option [ngValue]="item.organisation_uuid"
                                                                                                        *ngIf="item.org && item.organisation_uuid">
                                                                                                        {{item.org}}
                                                                                                </option>
                                                                                        </ng-template>
                                                                                </select>
                                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="slcOrgname" (click)="Copyorg('orgcopyflag')" [ngClass]="orgcopyflag === true?' skemapage__copyicon skemapage__copyicon--active':'skemapage__copyicon skemapage__copyicon--inactive'"><i
                                                                                                class="far fa-copy"></i></span>
                                    </div>

                                </div>
                                <div class="form-group row" *ngIf="skemalist && skemalist.length>0">
                                    <label class="col-sm-4 col-form-label">Skema's</label>
                                    <div class="col-sm-8">
                                        <select [(ngModel)]="skema" data-live-search="true" [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick" (change)="onchangeSkema($event,item)" id="exampleFormControlSelect1">
                                                                                        <ng-template ngFor let-item
                                                                                                [ngForOf]="skemalist"
                                                                                                let-i="index" let
                                                                                                first=first;
                                                                                                [ngForTrackBy]="trackByFn">
                                                                                                <option [ngValue]="item.uuid"
                                                                                                        *ngIf="item.brugervendtnoegle && item.uuid">
                                                                                                        {{item.brugervendtnoegle}}
                                                                                                </option>
                                                                                        </ng-template>
                                                                                </select>
                                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="slctbrugervendt" (click)="Copyorg('brugervendcopyflag')" [ngClass]="brugervendcopyflag === true?' skemapage__copyicon skemapage__copyicon--active':'skemapage__copyicon skemapage__copyicon--inactive'"><i
                                                                                                class="far fa-copy"></i></span>
                                    </div>

                                </div>
                                <div>
                                    <div class="form-group row" *ngIf="slctdSkema && slctdSkema!=null">
                                        <label id="jsonskema" class="col-sm-4 col-form-label">Skema</label>
                                        <div *ngIf="showupload===false" class="col-sm-8">
                                            <a class="skemapage__download" (click)="DownloadJson($event)" href="#"> <i class="fas fa-cloud-download"></i>Download Skema</a>
                                            <a class="skemapage__delete" (click)="Deleteconfig($event,item,relationoptionitem,in)" href="#"> <i class="fas fa-trash"></i>Delete Skema</a>
                                            <json-editor [options]="editorOptions" (change)="getData($event)" [data]="body">
                                            </json-editor>
                                        </div>
                                        <div class="col-sm-8" *ngIf="showupload===true">
                                            <input type="file" class="custom-file-input form-control" [(ngModel)]="fileuploaded" #fileupload [ngModelOptions]="{standalone: true}" (change)="uploadfile($event)" id="jsonskema" />
                                            <i class="fas fa-cloud-upload">Upload a new json skema</i>
                                        </div>
                                    </div>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>


                <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
                    <div>
                        Success!! Thank you..
                    </div>
                </jqxNotification>
                <jqxNotification #errorNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
                    <div>Error!! pelase try again</div>
                </jqxNotification>
                <ng-template #skemadelete let-c="close" let-d="dismiss">
                    <skemadelete-viewer [slctdSkema]="slctdSkema"></skemadelete-viewer>
                </ng-template>
                <ng-template #skemacreate let-c="close" let-d="dismiss">
                    <skemacreate-viewer></skemacreate-viewer>
                </ng-template>
            </div>

        </div>
    </div>
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
</div>