<div class="username">
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>

    <p text-center class="login__heading">Indtast dit brugernavn nedenfor. Du modtager en engangskode, som du skal bruge for at ændre dit kodeord.</p>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Bruger Navn</label>
            <input type="email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control login__textbox" placeholder="Bruger Navn">
        </div>
        <div *ngIf="noauthorisation">
            <div class="login__error">autorisation bruger findes ikke i systemet</div>
        </div>
        <div *ngIf="error">
            <div class="login__error">{{errormessage}}</div>
        </div>
        <button [disabled]="!username" type="submit" (click)="otp()" class="btn login__login btn-lg">Fortsæt</button>
    </form>
</div>