<div class="search">

    <div class="search__container">
        <div *ngIf="loading===true" class="spinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div *ngIf="searchform && filterList">
            <ngb-accordion [destroyOnHide]="false" (panelChange)="panelExpanded($event)"  #acc="ngbAccordion"
                [activeIds]="activeIds">
                <ngb-panel id="search_panel">
                    <ng-template ngbPanelTitle>
                        <i class="fas fa-search"></i> Filtre muligheder
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <form class="form-group" id="searchform" #searchForm novalidate [formGroup]="searchform">
                            <div class="col-sm-10">
                                <ng-template ngFor let-item [ngForOf]="searchform.get('items').controls" let-i="index"
                                    [ngForTrackBy]="trackByFn">
                                    <div class="form-group row" *ngIf="item.value.type=='input' && item.value.property!='hidden'">
                                        <label title="{{item.value.name}}"
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" [(ngModel)]="item.value.value"
                                                [ngModelOptions]="{standalone: true}" value={{item.value.value}}>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="item.value.type=='datepicker'">
                                        <label title="{{item.value.name}} "
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <div *ngIf="item.value.type=='datepicker'" class="search__radio">
                                                <input [selectMode]="'range'" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="item.value.formatdate" [readonly]="true"
                                                     [owlDateTime]="j" type="text"
                                                    class="form-control" value={{item.value.formatdate}}
                                                    [disabled]="item.value.readonly===true? true : false"
                                                    [owlDateTimeTrigger]="j" placeholder="" />
                                                <span class="search__dateicon" [owlDateTimeTrigger]="j"><i
                                                        class="fal fa-calendar-alt"></i></span>
                                                <span class="search__closeicon" (click)="clearDate(item)"><i
                                                        class="fal fa-times"></i></span>
                                                <owl-date-time (afterPickerClosed)="dateChange(item,i)"
                                                    [pickerType]="'both'" #j>
                                                </owl-date-time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="item.value.type=='dropdown'">
                                        <label title="{{item.value.name}} "
                                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                                        <div class="col-sm-8">
                                            <select multiple (change)="Multiselect($event,item)"
                                                [(ngModel)]="item.value.selected_name"
                                                [ngModelOptions]="{standalone: true}"
                                                class="form-control selectpicker show-tick" data-live-search="true">
                                                <option
                                                    *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                                    [selected]="optionitems.selected === true ? 'selected':null"
                                                    [ngValue]="optionitems.rel_uri" data-tokens="optionitems">
                                                    {{optionitems.rel_uri}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-8 offset-md-4" id="{{item.value.name}} "
                                        *ngIf="item.value.type=='button'">
                                        <button type="submit" (click)="Search()"
                                            class="btn search__fetch btn-lg">{{item.value.name}}</button>
                               
                                    <button type="submit" (click)="resetSearch(item)"
                                        class="btn search__reset btn-lg">Nulstil</button>
                                </div>
                                    
                                </ng-template>
                            </div>
                        </form>
                    </ng-template>
                </ngb-panel>
                <!-- <ngb-panel  id="ngb-panel-2">
                    <ng-template ngbPanelTitle>
                        <i class="fas fa-filter"></i> Gemt Filtre
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <form class="form-group search__filterform" id="searchform"  novalidate >
                            <div class="col-sm-10">
                            <div class="form-group row">  
                           
                            <label class="col-sm-4 col-form-label">Gemte Filtre</label>
                            <div *ngIf="filterList && filterList.length" class="col-sm-8">
                                <select [(ngModel)]="filteruuid" data-live-search="true" title="Intet valgt"
                                    [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick"
                                    #choosefilter id="choosefilter">
                                    <ng-template ngFor let-item [ngForOf]="filterList" let-i="index" let first=first;
                                        [ngForTrackBy]="trackByFn">
                                        <option [ngValue]="item.uuid">
                                            {{item.titel}}
                                        </option>
                                    </ng-template>
                                </select>
                            </div>
</div>
                            <div class="form-group col-sm-6 offset-md-4 ">
                            <button [disabled]='!filteruuid' type="submit" (click)="Fetchfilter()" class="btn search__fetch btn-lg">Hent Filtre Data</button>
                        </div>

                        
                    </div>
                        </form>
                        </ng-template>
                </ngb-panel> -->
            </ngb-accordion>
        </div>
    </div>
</div>

<jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9"
    [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [height]="120" [position]="'bottom-right'" [opacity]="1"
    [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
    <div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>