@import "./variables";
.search {
    margin-top: 20px;
    margin-bottom: 20px;
    &__radio {
        text-align: left;
        vertical-align: middle;
        padding-top: 9px;

    }
    &__radiosize {
        width: 20px;
        height: 20px;
    }
    &__disable {
        opacity: .4;
    }
    &__form-container {
        margin-top: 50p;
        border: 1px solid $primary-color-theme;
        margin-bottom: 50px;
        width: 100%;
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 400px;
    }
    &__filterctr {
        width: 100%;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
    }
    &__filterclose {
        float: right;
        color: $primary-color-theme;
        background-color: $color-white;
        font-size: 30px;
    }
    &__save {
        background-color: $primary-color-theme;
        color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__radiosize {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    &__radiolabel{
        vertical-align: middle;
    }
    &__filterform{
        min-height: 300px;
    }
    &__fetch {
        background: $primary-color-theme !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__dateicon {
        margin-top: -30px;
        float: right;
        margin-right: 35px;
        cursor: pointer;
        color: initial;
    }
    &__closeicon {
        margin-top: -37px;
        float: right;
        margin-right: 1px;
        border-left: 1px solid #8e8e8e;
        padding-left: 5px;
        height: 36px;
        padding: 8px;
        font-weight: lighter;
        cursor: pointer;
        color: initial;
        width: 25px;
        z-index: 99;
        position: relative;
        display: block;
    }
    &__reset {
        background: $primary-color-theme !important;
        color: $color-white !important;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        opacity: .5;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__cancel {
        color: $primary-color-theme;
        background-color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
        
    }
    .modal-footer {
        margin-top: 50px;
    }
    .accordion > .card > .card-header {
        background: $primary-color-theme;
        color:$color-white;
    }
    .accordion > .card > .card-header > button {
        text-align: center;
    }
    .accordion > .card > .card-header > button:after {
        border-top: 10px solid $color-white;
    }
    .accordion > .card > .card-header {
        height: 50px;
        >button{
            padding: 0;
        }
    }
}
