<div *ngIf="loading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
</div>


<div class="fletfilters">
    <div class="modal-header notifyviewer__filterctr">
        <button type="button" class="btn notifyviewer__filterclose" (click)="cancel($event)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="form-group">
        <form>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Indsæt Flettefelter</label>
                <div *ngIf="fletfilters" class="col-sm-8">
                    <select [(ngModel)]="rel_uuid" data-live-search="true" title="Intet valgt"
                        [ngModelOptions]="{standalone: true}" class="form-control selectpicker show-tick"
                        (change)="setFilter($event,item)" #choosefilter id="choosefilter">
                        <ng-template ngFor let-item [ngForOf]="fletfilters.options" let-i="index" let first=first;
                            [ngForTrackBy]="trackByFn">
                            <option [ngValue]="item.rel_uuid">
                                {{item.rel_uri}}
                            </option>
                        </ng-template>
                    </select>
                    <div *ngIf="!rel_uuid">
                        <p class="text-danger">
                            Please fill this field.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark sendemail__cancel" (click)="cancel($event)">
            <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
        <button type="submit" class="btn btn-outline-dark sendemail__save" (click)="apply($event)">
            <i class="fa fa-save"></i>Udfør</button>
    </div>
</div>