@import "./variables";
.fletfilters {
    margin: 20px;
    &__filterclose {}
    &__save {
        background-color: $primary-color-theme;
        color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__cancel {
        color: $primary-color-theme;
        background-color: $color-white;
        min-width: 150px;
        .fa {
            padding-right: 5px;
        }
    }
    &__filterctr {
        width: 100%;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
    }
    &__filterclose {
        float: right;
        color: $primary-color-theme;
        background-color: $color-white;
        font-size: 30px;
    }
    &__dateicon {
        margin-top: -30px;
        float: right;
        margin-right: 35px;
        cursor: pointer;
        color: initial;
    }
    &__closeicon {
        margin-top: -37px;
        float: right;
        margin-right: 10px;
        border-left: 1px solid #8e8e8e;
        padding-left: 5px;
        height: 36px;
        padding-top: 8px;
        font-weight: lighter;
        cursor: pointer;
        color: initial;
    }
    &__heading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__subheading {
        padding-left: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
}