    @import "./variables";
    .operations {
        &__operations-exportbtn {
            background: transparent;
            border: none;
            float: right;
            color: $color-white;
            &>i {
                padding-left: 5px;
                padding-right: 5px;
            }
            &:hover {
                background: transparent;
                color: $color-white;
            }
        }
        &__operations-exportul {
            text-align: center;
        }
        &__operations-exportli {
            border-bottom: 1px solid $shadow-color;
            text-align: center;
            cursor: pointer;
            min-width: 300px;
        }
        &__operations-exporta {
            color: $color-dark-black;
            line-height: 2.5em;
            &:hover {
                color: $primary-color-theme;
            }
        }
        &__operations {
            float: right;
            display: inline-block;
            border-radius: .4em;
            height: 3em;
            margin-right: 1em;
            width: 20em;
        }
        &__operations-icon {
            float: right;
            color: $color-white !important;
            font-weight: normal;
            cursor: pointer;
            padding-left: 6px;
            font-size: 17px;
            padding-right: 6px;
            padding-top: 6px;
        }
        &__operations-icon>i {
            margin-right: 3px;
        }
        &__nav-container {
            margin-top: -2.6em;
        }
        &__header {
            background: $color-highlight-green;
            border: 1px solid $primary-color-theme;
            border-radius: .4em;
            height: 3em;
            width: 100%;
            display: inline-block;
            float: left;
            margin-top: .5em;
        }
        &__filterclose {
            width: 100%;
            float: right;
            display: inline-block;
            text-align: right;
            height: 50px;
            padding-right: 22px;
            font-size: 30px;
            border: none !important;
        }
        &__filter {
            float: right;
        }
        &__filterlabel {
            float: right;
            text-align: right;
            padding-right: 0;
            color: #fff;
        }
        &__showfltrdata {
            margin-right: 39px;
            position: relative;
            display: block;
            border-left: 0;
            font-size: 20px;
            margin-top: -35px;
            float: right;
            padding-left: 9px;
            padding-right: 9px;
            border-radius: 4px;
            cursor: pointer;
            color: $color-highlight-green;
        }
        &__save {
            background-color: $primary-color-theme;
            color: $color-white;
            min-width: 150px;
            .fa {
                padding-right: 5px;
            }
        }
        &__cancel {
            color: $primary-color-theme;
            background-color: $color-white;
            min-width: 150px;
            .fa {
                padding-right: 5px;
            }
        }
    }