<div class="operations" *ngIf="buttons  && buttons.length">
    <div class="dropdown">
        <ng-template ngFor let-item [ngForOf]="buttons" let-i="index" [ngForTrackBy]="trackByFn">
            <button title="Eksporter" class="btn  dropdown-toggle operations__operations-exportbtn" *ngIf="item.click_action==='export'" type="button" data-toggle="dropdown"> 
            <i class="fas fa-cloud-download"></i>Eksporter
        <span class="caret"></span>
    </button>
        </ng-template>
        <ul class="dropdown-menu itsystems__operations-exportul">
            <li class="operations__operations-exportli" id="csv" (click)="download($event)"><a href="#" id="csv" class="operations__operations-exporta">csv</a>
            </li>
            <li class="operations__operations-exportli" id="xlsx" (click)="download($event)"><a href="#" id="xlsx" class="operations__operations-exporta">xlsx</a>
            </li>
        </ul>
    </div>

    <ng-template ngFor let-clickitem [ngForOf]="buttons" let-i="index" [ngForTrackBy]="trackByFn">
        <a title="{{clickitem.value}}" (click)="open(modal,$event)" *ngIf="clickitem.click_action==='CALL_importer_objektdata'" class="button operations__operations-icon" href="#">
            <i class="fas fa-cloud-upload"></i>{{clickitem.value}}</a>
        <a title="{{clickitem.value}}" *ngIf="clickitem.click_action==='CALL_update_objekt'" (click)="saveData($event)" class="button operations__operations-icon" href="#">
            <i class="fa fa-plus-circle"></i> {{clickitem.value}}</a>
        <a title="{{clickitem.value}}" *ngIf="clickitem.click_action==='CALL_objekt_detaljer'" (click)="CreatePage($event)" class="button operations__operations-icon" href="#">
            <i class="fa fa-plus-circle"></i> {{clickitem.value}}</a>
        <a title="{{clickitem.value}}" class="button operations__operations-icon" *ngIf="clickitem.click_action==='delete'" (click)="Delete($event)" href="#">
            <i class="fa fa-trash"></i>{{clickitem.value}}</a>
        <a title="{{clickitem.value}}" (click)="Cancel($event)" *ngIf="clickitem.click_action==='annuller'" class="button operations__operations-icon">
            <i class="fa fa-times-circle"></i>{{clickitem.value}}</a>
        <!-- <a title="{{clickitem.value}}" *ngIf="clickitem.key==='gem'" (click)="saveData($event)" class="button operations__operations-icon">
            <i class="fa fa-save"></i>{{clickitem.value}}
        </a> -->
        <a title="{{clickitem.value}}" *ngIf="clickitem.click_action==='refresh'" (click)="getValueFromObservable()" class="button operations__operations-icon">
            <i class="fa fa-refresh"></i>{{clickitem.value}}
        </a>
        <a title="{{clickitem.value}}" (click)="open(filterviewer,$event)" *ngIf="clickitem.click_action==='filterAjour'" class="button operations__operations-icon" href="#">
            <i class="fas fa-save"></i>{{clickitem.value}}</a>
        <!-- <a title="Refresh" *ngIf="alloperations.includes('Opdater listen')" (click)="getValueFromObservable()" class="button operations__operations-icon">
        <i class="fa fa-refresh"></i>Refresh Data
    </a>  -->
    </ng-template>
    <div class="dropdown" *ngIf="Handlinger && Handlinger.dropdown">
        <button title="Handlinger" class="btn dropdown-toggle operations__operations-exportbtn" id="handling" type="button" data-toggle="dropdown"> <i class="fas fa-bell"></i>Handlinger
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu itsystems__operations-exportul" aria-labelledby="handling">
            <ng-template ngFor let-item [ngForOf]="Handlinger.dropdown" let-i="index" let first=first; [ngForTrackBy]="trackByFn">
                <li class="operations__operations-exportli" id="item.key" (click)="openNotification(notifyviewer,$event,item)"><a href="#" id="item.key" class="operations__operations-exporta">{{item.value}}</a>
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="dropdown" *ngIf="Udsend && Udsend.length">
        <ng-template ngFor let-udsenditem [ngForOf]="Udsend" let-i="index" let first=first; [ngForTrackBy]="trackByFn">
            <button (click)="openSendEmail(sendEmail,$event,Udsend)" title="Udsend" class="btn operations__operations-exportbtn" id="handling" type="button"> <i class="fas fa-envelope"></i>{{udsenditem.value}}
            <span class="caret"></span>
        </button>
        </ng-template>
    </div>
    <ng-template #modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Upload file</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body itsystems--modal-body" (drop)="onDrop($event)">
            <div class="itsystems__modal-container">
                <form #uploadfileForm (ngSubmit)="onfileSubmit($event)">
                    <label class="cursor-pointer itsystems__upload">
                        <input type="file" ngf-select ng-model="new_files" id="inputFile" #inputFile
                            class="" (change)="onfileChange($event)">
                    </label>
                    <div class="itsystems__dropContainer">
                        <span class="itsystems__dropContainer itsystems__dropContainer--droptext"></span>
                        <i class="fa fa-download"></i>
                    </div>
                </form>
                <div class="uploadcontainer">
                    <div [ngClass]="(uploadStatus==true) ? '':'d-none'">
                        <div class="alert alert-success">
                            <strong>Success!</strong> All done file uploaded successfully.
                        </div>
                    </div>
                    <div [ngClass]="(fileStatus==true) ? '':'d-none'">
                        <div class="alert alert-danger ">
                            <strong>Error!</strong> Only csv,xlsx,json filetypes are allowed. Maximum file size 10MB allowed.
                        </div>
                    </div>
                    <div [ngClass]="(uploadContainer==true) ? '':'d-none'">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark operations__cancel" (click)="d('Cross click')">
                        <i class="fa fa-times" aria-hidden="true"></i>Annuller</button>
            <button type="submit" class="btn btn-outline-dark operations__save" (click)="onfileSubmit($event)">
                        <i class="fa fa-save"></i>Gem</button>

        </div>
    </ng-template>
    <ng-template #filterviewer let-c="close" let-d="dismiss">
        <filter-viewer [allfilterList]="filterList" [filtersdata]="filtersdata"></filter-viewer>
    </ng-template>

    <ng-template ngFor let-clickitem *ngIf="buttons" [ngForOf]="buttons" let-i="index" [ngForTrackBy]="trackByFn">
        <div *ngIf="clickitem.click_action==='gemt_filtre'">
            <div class="col-sm-4 itsystems__filter">
                <select [(ngModel)]="filteruuid" data-live-search="true" title="Intet valgt" [ngModelOptions]="{standalone: true}" (change)="getFilterData($event,item)" class="form-control selectpicker show-tick" #choosefilter id="choosefilter">
            <ng-template ngFor let-item [ngForOf]="filterList" let-i="index" let first=first;
                [ngForTrackBy]="trackByFn">
                <option [ngValue]="item.uuid">
                    {{item.titel}}
                </option>
            </ng-template>
        </select>
                <span *ngIf="filterList && filterList.length>0" class="operations__showfltrdata" (click)="showfilterData(jsonviewer,$event)"><i class="fa fa-info-circle"></i>
        </span>
                <ng-template #jsonviewer let-c="close" let-d="dismiss">
                    <jsonviewer-viewer [filtersdata]="filtersdata"></jsonviewer-viewer>
                </ng-template>
            </div>
            <label *ngIf="list===true" class="col-sm-2 col-form-label operations__filterlabel">{{clickitem.value}}</label>
        </div>

    </ng-template>


    
    <ng-template #notifyviewer let-c="close" let-d="dismiss">
        <notifyviewer-viewer [selectedmenuItem]="sharedthis.bredcrum" [selectedItem]="selectedItem" [displayedrows]="displayedrows"></notifyviewer-viewer>
    </ng-template>
    <ng-template #sendEmail let-c="close" let-d="dismiss">
        <sendemail-viewer [action]="action"></sendemail-viewer>
    </ng-template>
</div>

<jqxNotification #successnotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="4000" [template]="'success'">
    <div>
        Success!! Thank you..
    </div>
</jqxNotification>
<jqxNotification #errornotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="4000" [template]="'error'">
    <div>{{errorMessage}}</div>
</jqxNotification>