<div class="changepassword">
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>


    <p text-center class="login__heading">Vi har sendt dig en engangskode, som du skal bruge til at oprette nyt kodeord. Engangskoden er gyldig i to timer. Der kan gå nogle minutter, før koden når frem til dig. Hvis du ikke modtager koden i din indbakke, så kontrollér eventuelt din folder
        for uønsket mail</p>
    <form [formGroup]="loginForm" class="changepassword__form" (ngSubmit)="gotologin()">
        <div class="form-group">
            <label for="exampleInputPassword1">Kodeord</label>
            <input (keyup)="inputvalueChange()" [(ngModel)]="loginForm.password" formControlName="password" #passwordele type="password" class="form-control login__textbox" placeholder="Password">
            <span toggle="#input-pwd" (click)="showpassword()" [ngClass]="(showpwd===true)?'login__eye fa fa-fw fa-eye field-icon': 'login__eye fa fa-fw fa-eye-slash field-icon'"></span>
            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Numbers">Skal have mindst et tal</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Lower">Skal have mindst et lille bogstav</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.Upper">Skal have mindst et stort bogstav</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors.long">Dit kodeord skal være mindst 8 tegn langt</p>
            </div>
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Gentag kodeord</label>
            <input formControlName="confirmPassword" (keyup)="inputvalueChange()" [(ngModel)]="loginForm.confirmPassword" #repasswordele type="password" class="form-control login__textbox" placeholder="Password">
            <span toggle="#input-pwd" (click)="showrepassword()" [ngClass]="(showrepwd===true)?'login__eye fa fa-fw fa-eye field-icon': 'login__eye fa fa-fw fa-eye-slash field-icon'"></span>
            <div *ngIf="loginForm.controls.confirmPassword.invalid && (loginForm.controls.confirmPassword.dirty || loginForm.controls.confirmPassword.touched)">
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.confirmPassword.errors && loginForm.controls.confirmPassword.errors.MatchPassword">
                    Kodeordene skal være ens.</p>
            </div>
        </div>

        <div *ngIf="serviceerror">
            <p class="login__error" *ngIf="serviceerror && serviceerrormessage">{{serviceerrormessage}}</p>
        </div>
        <div *ngIf="errormessage">
            <div class="login__error">{{errormessage}}</div>
        </div>
        <button type="submit" [disabled]="!((loginForm.value.password  === loginForm.value.confirmPassword) && (loginForm.controls.password.errors === null) &&(loginForm.controls.confirmPassword.errors && !loginForm.controls.confirmPassword.errors.MatchPassword ) )"
            class="btn login__login btn-lg">Gem kodeord</button>
        <button color="secondary" type="button" (click)="resetForm()" class="btn login__forgetpwd btn-lg">Ryd</button>
    </form>
</div>