<div class="">
    <ul id="breadcrumb" *ngIf="breadcrumelements" class="breadcrum__breadcrumcontainer">
        <ng-template ngFor let-item [ngForOf]="breadcrumelements" let-i="index" let-isEven="even" let-isOdd="odd"
            [ngForTrackBy]="trackByFn">
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                    {{item}}
                </a>
            </li>
        </ng-template>
        <li>
            <a href="#">
            </a>
        </li>
        <li>
            <a href="#">

            </a>
        </li>
    </ul>
</div>