<div class="otp">
    <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
    </div>
    <p text-center class="login__heading">Vi har sendt dig en engangskode, som du skal bruge til at oprette nyt kodeord. Engangskoden er gyldig i to timer. Der kan gå nogle minutter, før koden når frem til dig. Hvis du ikke modtager koden i din indbakke, så kontrollér eventuelt din folder
        for uønsket mail</p>
    <form class="otp__form" [formGroup]="loginForm" (ngSubmit)="gotochangePasword()">

        <div class="form-group">
            <label for="exampleInputEmail1">Indtast engangskode</label>
        </div>
        <div class="form-group">
            <input type="tel" [(ngModel)]="otpval1" tabindex="1" formControlName="otp1" #otp1 id="otp1" maxlength="1" class="otp__text-box" max="9" (keyup)="next1($event)" />
            <input type="tel" [(ngModel)]="otpval2" tabindex="1" formControlName="otp2" #otp2 id="otp2" maxlength="1" class="otp__text-box" max="9" (keyup)="next2($event)" />
            <input type="tel" [(ngModel)]="otpval3" tabindex="1" formControlName="otp3" #otp3 id="otp3" maxlength="1" class="otp__text-box" max="9" (keyup)="next3($event)" />
            <input type="tel" [(ngModel)]="otpval4" tabindex="1" formControlName="otp4" #otp4 id="otp4" maxlength="1" class="otp__text-box" max="9" (keyup)="next4($event)" />
        </div>
        <div *ngIf="noauthorisation">
            <div class="login__error">autorisation bruger findes ikke i systemet</div>
        </div>
        <div *ngIf="error">
            <div class="login__error">{{errormessage}}</div>
        </div>
        <button [disabled]="!username" type="submit" (click)="otp()" class="btn login__login btn-lg">Fortsæt</button>
    </form>
</div>