@import "../../assets/sass/variables";
.otp {
    margin-top: 110px;
    width: 100%;
    height: 100%;
    &__form {
        text-align: center;
    }
    &__text-box {
        border: 1px solid $color-secondary-gray;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: .4em;
        background: #ecf0f2;
        color: #000;
        width: 100px;
        height: 100px;
        font-size: 40px;
        input {
            font-size: 2em;
            text-align: center;
            margin-right: 0;
            // text-transform: password;
            // -webkit-text-security: disc;
            border: none;
            // color: transparent;
            display: inline-block;
            font-size: 2em;
            // text-shadow: 0 0 0 $color-menu-gray;
            &:focus {
                outline: none;
            }
        }
    }
}